{% extends "development/base.html" %}

{% block content %}
{{ block.super }}
<h1>Content</h1>
<div class="row">
  <div class="cell w1of2">
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et arcu eget quam fermentum dignissim quis vel metus. <a href="http://google.com">Link</a> <strong>strong</strong> <em>em</em> <sup>sup</sup> <sub>sub</sub> <code>code</code> <abbr>abbr</abbr> <acronym>acronym</acronym> <del>del</del> <dfn>dfn</dfn> <cite>cite</cite> <q>q</q> Nunc sodales, mauris vel faucibus mollis, dolor ante mattis orci, quis ornare nulla eros id mi. Phasellus lacinia ante nec enim molestie ut blandit tortor bibendum. Vestibulum non metus nunc. Aenean lectus sem, ornare ac dictum non, dapibus vitae nunc.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et arcu eget quam fermentum dignissim quis vel metus. Nunc sodales, mauris vel faucibus mollis, dolor ante mattis orci, quis ornare nulla eros id mi.</p>
  </div>
  <div class="cell w1of2 last">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et arcu eget quam fermentum dignissim quis vel metus. Nunc sodales, mauris vel faucibus mollis, dolor ante mattis orci, quis ornare nulla eros id mi.</p>
    <blockquote>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et arcu eget quam fermentum dignissim quis vel metus. Nunc sodales, mauris vel faucibus mollis, dolor ante mattis orci, quis ornare nulla eros id mi.
        <br><strong>Ronald McDonald</strong></p>
    </p>
  </blockquote>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et arcu eget quam fermentum dignissim quis vel metus. Nunc sodales, mauris vel faucibus mollis, dolor ante mattis orci, quis ornare nulla eros id mi.</p>
</div>
</div>
<hr>
<h2>Headers</h2>
<div class="row">
  <div class="cell w1of3">
    <h1>h1 Header 1</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et arcu eget quam fermentum dignissim quis vel metus.</p>
    <h4>h4 Header 4</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et arcu eget quam fermentum dignissim quis vel metus.</p>
  </div>
  <div class="cell w1of3">
    <h2>h2 Header 2</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et arcu eget quam fermentum dignissim quis vel metus.</p>
    <h3>h3 Header 3</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et arcu eget quam fermentum dignissim quis vel metus.</p>
  </div>
  <div class="cell w1of3 last">
    <h1>h1 Header 1</h1>
    <h2>h2 Header 2</h2>
    <h3>h3 Header 3</h3>
    <h4>h4 Header 4</h4>
    <h5>h5 Header 5</h5>
    <h6>h6 Header 6</h6>
  </div>
</div>
<hr>
<h2>Lists</h2>
<div class="row">
  <div class="cell w1of3">
    <h3>Unordered &lt;ul&gt;</h3>
    <ul>
      <li>Lorem ipsum dolor sit amet</li>
      <li>Consectetur adipiscing elit</li>
      <li>Integer molestie lorem at massa</li>
      <li>Facilisis in pretium nisl aliquet</li>
      <li>Nulla volutpat aliquam velit
      <ul>
        <li>Phasellus iaculis neque</li>
        <li>Purus sodales ultricies</li>
        <li>Vestibulum laoreet porttitor sem</li>
        <li>Ac tristique libero volutpat at</li>
      </ul>
      </li>
      <li>Faucibus porta lacus fringilla vel</li>
      <li>Aenean sit amet erat nunc</li>
      <li>Eget porttitor lorem</li>
    </ul>
  </div>
  <div class="cell w1of3">
    <h3>Ordered &lt;ol&gt;</h3>
    <ol>
      <li>Lorem ipsum dolor sit amet</li>
      <li>Consectetur adipiscing elit</li>
      <li>Integer molestie lorem at massa</li>
      <li>Facilisis in pretium nisl aliquet</li>
      <li>Nulla volutpat aliquam velit</li>
      <li>Faucibus porta lacus fringilla vel</li>
      <li>Aenean sit amet erat nunc</li>
      <li>Eget porttitor lorem</li>
    </ol>
  </div>
  <div class="cell w1of3 last">
    <h3>Definition &lt;dl&gt;</h3>
    <dl>
      <dt>Description lists</dt>
      <dd>A description list is perfect for defining terms.</dd>
      <dt>Euismod</dt>
      <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
      <dd>Donec id elit non mi porta gravida at eget metus.</dd>
      <dt>Malesuada porta</dt>
      <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
    </dl>
  </div>
</div>

<hr>
<h2>Tables</h2>

<table cellspacing="0">
  <thead>
    <tr>
      <th>Table Header One</th>
      <th>Table Header Two</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>TD One</td>
      <td>TD Two</td>
    </tr>
    <tr>
      <td>TD One</td>
      <td>TD Two</td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td>TD One</td>
      <td>TD Two</td>
    </tr>
    <tr>
      <td>TD One</td>
      <td>TD Two</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2">tfoot footer</td>
    </tr>
  </tfoot>
</table>
<div class="row">
  <div class="cell w1of1">
    <h3>Pre in code:</h3>
    <code>
      <pre>
        class Person(object):
        def __init__(self, *args, **kwargs):
        return False
      </pre>
    </code>

  </div>
</div>
<div class="messages">
  <p class="message message-info">
    Info
  </p>
  <p class="message message-success">
    Success
  </p>
  <p class="message message-warning">
    Warning
  </p>
  <p class="message message-error">
    Error
  </p>
</div>

{% endblock %}
