{% extends "development/base.html" %}

{% block content %}
{{ block.super }}
<h1>Forms</h1>
<form novalidate action="" method="POST" class="{{ html_class }}">
  <div class="field">
    <label>Autofocus</label>
    <input type="text" autofocus>
  </div>
  <div class="field">
    <div class="float-left" style="margin-right:10px;">
      <label>First</label>
      <input type="text">
    </div>
    <div class="float-left">
      <label>Last</label>
      <input type="text">
    </div>
  </div>
  <div class="field">
    <label>+ button</label>
    <input type="text">
    <input class="btn" type="submit">
  </div>
  {% block form %}
  {% include "forms/form.html" %}
  {% endblock %}
  <fieldset class="buttons-fieldset">
    <input class="btn" type="submit" value="Input Submit">
    <a href="#" class="btn">Anchor</a>
    <button href="#" class="btn">Button</button>
    <input type="reset" class="btn" value="Very long reset button"/>
  </fieldset>
</form>
{% endblock %}
