<nav>
  <a href="{% url "dev_default" template="content" %}">content</a>
  <a href="{% url "dev_default" template="grids" %}">grids</a>
  <b>Forms:</b>
  <a href="{% url "dev_form_left" %}">left</a>
  <a href="{% url "dev_form_right" %}">right</a>
  <a href="{% url "dev_form_vertical" %}">vertical</a>
</nav>
