{% extends "admin/change_form.html" %}
{% load l10n pixel9_admin_urls %}

{% block breadcrumbs %}
<a href="{{ changelist_url }}">{{ opts.model_name|capfirst }}</a>
<a href="#">test</a>
<span>test</span>
{% endblock %}


{% block messages %}
{{ block.super }}
<div class="alert alert-dismissable">
  <div class="alert-content">
    Alert Base Message
  </div>
  <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>

<div class="alert alert-dismissable alert-info">
  <div class="alert-content">
    Info Message
  </div>
  <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>

<div class="alert alert-dismissable alert-success">
  <div class="alert-content">
    Success message
  </div>
  <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>

<div class="alert alert-dismissable alert-warning">
  <div class="alert-content">
    Warning Message
  </div>
  <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>

<div class="alert alert-dismissable alert-error">
  <div class="alert-content">
    Error Message
  </div>
  <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>

<div class="alert alert-dismissable alert-muted alert-no-icon">
  <div class="alert-content">
    Muted Message
  </div>
  <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>

<div class="alert alert-dismissable alert-error">
  <div class="alert-content">
    <p>
    Error Message <a class="alert-link" href="">With Link→</a>
    </p>
    <a class="btn btn-default btn-sm" href="">With Button →</a>
    <a class="btn btn-danger btn-sm" href="">With Buttons</a>
    {#<a class="btn btn-default">Button</a>#}
  </div>
  <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>

<div class="alert alert-dismissable alert-sm">
  <div class="alert-content">
    Small Base Message
  </div>
  <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>

<div class="alert alert-dismissable alert-info alert-sm">
  <div class="alert-content">
    Small Info Message
  </div>
  <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>

<div class="alert alert-dismissable alert-success alert-sm">
  <div class="alert-content">
    Small Success Message
  </div>
  <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>


<div class="alert alert-dismissable alert-warning alert-sm">
  <div class="alert-content">
    Small Warning Message
  </div>
  <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>

<div class="alert alert-dismissable alert-error alert-sm">
  <div class="alert-content">
    Small Error Message
  </div>
  <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>

<div class="alert alert-dismissable alert-muted alert-sm alert-no-icon">
  <div class="alert-content">
    Small Muted Message
  </div>
  <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>



{% endblock %}

{% block page_title %}
{{ block.super }}
    <div class="badge">
      Default
    </div>
    <div class="badge badge-danger">
      Danger
    </div>
    <div class="badge badge-warning">
      Warning
    </div>
    <div class="badge badge-success">
      Success
    </div>
    <div class="badge badge-info">
      Info
    </div>
    <div class="badge badge-muted">
      Muted
    </div>
    <div class="badge"></div>
    <div class="badge badge-danger"></div>
    <div class="badge badge-warning"></div>
    <div class="badge badge-success"></div>
    <div class="badge badge-info"></div>
    <div class="badge badge-muted"></div>
{% endblock %}

{% block object-tools %}
{{ block.super }}
{% for action in action_choices %}
{% if action.0 == 'action_test' %}
<input type="hidden" name="_selected_action" value="{{ original.pk|unlocalize }}">
<button bind="xhr" class="btn btn-outline-primary" type="submit" name="action" value="{{ action.0 }}">{{ action.1 }}</button>
{% endif %}
{% endfor %}
<a class="btn btn-danger" data-dialog="change" data-dialog-onclose="refresh" href="{% url "admin:tests_simple_custom" %}">test redirect</a>
<a class="btn btn-default" data-dialog="changelist" href="">Test 1</a>
<a class="btn btn-default" data-dialog="changelist" href="">Test 1</a>
<a class="btn btn-default" data-dialog="changelist" href="">Test 1</a>
<a class="btn btn-default" data-dialog="changelist" href="">Test 1</a>
<a class="btn btn-default" data-dialog="changelist" href="">Test 1</a>
<a class="btn btn-default" data-dialog="changelist" href="">Test 1</a>
<a class="btn btn-default" data-dialog="changelist" href="">Test 1</a>
<button class="btn btn-default" type="button" data-toggle="dropdown" data-target="#action-bar-dropdown-menu-1">
  <i class="fa fa-print"></i>
  Étiquettes
  <span class="caret"></span>
</button>
{% endblock %}

{% block action-bar-dropdown-menus %}
<ul id="action-bar-dropdown-menu-1" class="dropdown-menu dropdown-menu-right">
  <li><a href="">Test 1</a></li>
  <li><a href="">Test 2</a></li>
  <li><button>Test Button</button></li>
  <li><a href="">Test 3</a></li>
  <li><a href="">Test 4</a></li>
  <li><a href="">Test 5</a></li>
  <li><a href="">Test 6</a></li>
  <li><a href="">Test 7</a></li>
  <li><a href="">Test 8</a></li>
</ul>
{% endblock %}

{% block field_sets %}

<div class="panel panel-simple">
  <div class="panel-heading">
    <div class="panel-title">
      <div class="badge pull-right">
        Default
      </div>
      Badges
    </div>
  </div>
  <div class="panel-body">
    <div class="badge">
      Default
    </div>
    <div class="badge badge-danger">
      Danger
    </div>
    <div class="badge badge-warning">
      Warning
    </div>
    <div class="badge badge-success">
      Success
    </div>
    <div class="badge badge-info">
      Info
    </div>
    <div class="badge badge-muted">
      Muted
    </div>
    <div class="badge badge-danger badge-no-bg">
      No bg
    </div>
    <div class="badge badge-danger badge-no-bg"></div>
    <div class="badge badge-muted"></div>

  </div>
  <div class="panel-heading">
    <div class="panel-title">Buttons</div>
  </div>
  <div class="panel-body">
    <i class="overflow-btn"></i>

    <button class="btn btn-default">Default</button>
    <button class="btn btn-primary">Primary</button>
    <button class="btn btn-secondary">Secondary</button>
    <button class="btn btn-info">Info</button>
    <button class="btn btn-primary">Success</button>
    <button class="btn btn-warning">Warning</button>
    <button class="btn btn-danger">Danger</button>
    <button class="btn btn-default" disabled>Default disabled</button>
    <button class="btn btn-primary" disabled>Primary disabled</button>
    <button class="btn btn-secondary" disabled>Secondary disabled</button>
    <button class="btn btn-plain">Plain</button>
  </div>
  <div class="panel-body">
    <button class="btn btn-outline-default">Default</button>
    <button class="btn btn-outline-primary">Primary</button>
    <button class="btn btn-outline-secondary">Secondary</button>
    <button class="btn btn-outline-info">Info</button>
    <button class="btn btn-outline-primary">Success</button>
    <button class="btn btn-outline-warning">Warning</button>
    <button class="btn btn-outline-danger">Danger</button>
    <button class="btn btn-outline-default" disabled>Default disabled</button>
    <button class="btn btn-outline-primary" disabled>Primary disabled</button>
    <button class="btn btn-outline-secondary" disabled>Secondary disabled</button>
  </div>
  <div class="panel-body">
    <button class="btn btn-default btn-xs">X-Small</button>
    <button class="btn btn-default btn-sm">Small</button>
    <button class="btn btn-default">Normal</button>
    <button class="btn btn-default btn-lg">Large</button>
    <button class="btn btn-outline-primary btn-xs">X-Small</button>
    <button class="btn btn-outline-primary btn-sm">Small</button>
    <button class="btn btn-outline-primary">Normal</button>
    <button class="btn btn-outline-primary btn-lg">Large</button>
  </div>
  <div class="panel-body">
      lsfdj fld <button type="button" class="btn btn-link">Button that looks like a link</button> sjfd ljsf lks
  </div>
  <div class="panel-heading">
    <div class="panel-title">List Groups</div>
  </div>
  <div class="panel-body">
    <div class="list-group">
      <div class="list-group-item list-group-item-danger">
        aaa
      </div>
      <a class="list-group-item list-group-link" href="">
        link
      </a>
    </div>
  </div>
</div>
<ul class="nav nav-tabs">
  <li class="active">
    <a href="javascript:;" data-target=".tab-pane-1" data-toggle="tab">Test1</a>
  </li>
  <li>
    <a href="javascript:;" data-target=".tab-pane-inlines-1" data-toggle="tab">Simples</a>
  </li>
</ul>
<div class="tab-content">
  {% for fieldset in adminform %}
  <div class="tab-pane tab-pane-{{ forloop.counter }}{% if forloop.first %} active{% endif %}">
    {% include "admin/includes/fieldset.html" %}
  </div>
  {% endfor %}
  {% for inline_admin_formset in inline_admin_formsets %}
  <div class="tab-pane tab-pane-inlines-{{ forloop.counter }}">
    {% include inline_admin_formset.opts.template %}
  </div>
  {% endfor %}
</div>

{% endblock %}

{% block inline_field_sets %}
{% endblock %}
