{% load i18n %}
<div class="hidden filter-fields filter-choices spec-{{ spec.title|slugify }}">
  <div class="input-group-inner right-addon">
    <input bind="date-picker" data-query="{{ choices.0.query_string|iriencode }}" name="{{ choices.1.parameter_name }}" class="form-control spec-{{ spec.title|slugify }}-choices" value="{{ choices.1.current_value|default_if_none:"" }}">
    <span class="input-group-inner-addon far fa-calendar-alt"></span>
  </div>
</div>
