<div class="hidden filter-fields filter-choices input-filter spec-{{ spec.title|slugify }}">
  <div class="input-filter-fields">
    <input form="{{ unique_page_id }}-filters-form" class="form-control spec-input-{{ spec.title|slugify }}" type="text" name="{{ spec.parameter_name }}" value="{{ spec.value|default_if_none:'' }}">
  </div>
</div>
