{% load i18n %}
<div class="hidden filter-fields list-filter filter-choices list-filter-choices spec-{{ spec.title|slugify }}">
  <select data-name="{{ spec.title|slugify }}" class="form-control spec-{{ spec.title|slugify }}-choices">
    {% for choice in choices %}
    <option{% if choice.selected %} selected{% endif %} value="{{ choice.query_string|iriencode }}">
    {{ choice.display }}
    </option>
    {% endfor %}
  </select>
  <input type="hidden" name="{{ spec.expected_parameters.0 }}" value="{{ spec.lookup_val|default_if_none:"" }}">
</div>

