{% load i18n bootstrap3 %}

<style>
.numeric-filter-lookup2-toggle-add {
  display:none;
}
.numeric-filter-lookup2-toggle-add.collapsed {
  display:block;
}
</style>
{% with choices.1 as choice %}
<div class="hidden filter-fields filter-choices numeric-filter spec-{{ spec.title|slugify }}">
  <div class="input-filter-fields">
    <div class="input-group">
      {{ choice.form.lookup1 }}
      {{ choice.form.value1 }}
    </div>
    <a class="small numeric-filter-lookup2-toggle-add{% if not choice.lookup2_selected %} collapsed{% endif %}" data-toggle="collapse" data-target=".{{ spec.title|slugify }}_lookup2_collapse" data-parent=".spec-{{ spec.title|slugify }}">Ajouter une 2e condition</a>
    <div class="collapse{% if choice.lookup2_selected %} in{% endif %} {{ spec.title|slugify }}_lookup2_collapse">
      <div class="input-group">
        {{ choice.form.lookup2 }}
        {{ choice.form.value2 }}
      </div>
      <a class="small numeric-filter-lookup2-toggle-remove{% if not choice.lookup2_selected %} collapsed{% endif %}" data-toggle="collapse" data-target=".{{ spec.title|slugify }}_lookup2_collapse" data-parent=".spec-{{ spec.title|slugify }}">Retirer la 2e condition</a>
    </div>
  </div>
</div>
{% endwith %}
