{% if is_paginated %}
{% load i18n %}
<div class="pagination">
  {% if page_obj.has_previous %}
  <a href="?page={{ page_obj.previous_page_number }}{{ getvars }}" class="pagination-prev">&lsaquo;&lsaquo;</a>
  {% else %}
  <span class="pagination-disabled pagination-prev">&lsaquo;&lsaquo;</span>
  {% endif %}
  {% for page in pages %}
  {% if page %}
  {% if page == page_obj.number %}
  <span class="pagination-current">{{ page }}</span>
  {% else %}
  <a href="?page={{ page }}{{ getvars }}">{{ page }}</a>
  {% endif %}
  {% else %}
  <span class="pagination-dots">...</span>
  {% endif %}
  {% endfor %}
  {% if page_obj.has_next %}
  <a href="?page={{ page_obj.next_page_number }}{{ getvars }}" class="pagination-next">&rsaquo;&rsaquo;</a>
  {% else %}
  <span class="pagination-disabled pagination-next">&rsaquo;&rsaquo;</span>
  {% endif %}
</div>
{% endif %}
