{% load i18n static pixel9_admin_list pixel9_admin_modify %}
{% with formset=inline_admin_formset %}
<div class="panel panel-simple inline-group inline-group-stacked {{ formset.formset.prefix }}-group">
  {% if formset.opts.verbose_name_plural %}
  <div class="panel-heading">
    <h2 class="panel-title">{{ formset.opts.verbose_name_plural|capfirst }}</h2>
  </div>
  {% endif %}
  <div class="panel-body panel-group inline-stacked-panel-group inline-parent">
    {{ formset.formset.management_form }}
    {% for error in formset.formset.non_form_errors %}
    <div class="alert alert-danger alert-dismissible" role="alert">
      <div class="alert-content">
        {{ error }}
      </div>
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
    </div>
    {% endfor %}
    {% for form in formset %}
    {% if forloop.last %}
  </div>
  <div class="panel-section inline-stacked-empty-form-wrapper">
    {% endif %}
    <div class="panel collapsable {% if form.form.errors %}panel-danger{% else %}panel-simple{% endif %} inline-related{% if forloop.last and formset.has_add_permission %} empty-form last-related{% endif %}" id="{{ form.form.prefix }}">
      <div class="panel-heading">
        {% if formset.formset.manual_ordering and formset.has_change_permission %}
        <div class="manual-ordering-handle">
          <span class="far fa-grip-lines"></span>
        </div>
        {% endif %}
        {% if formset.formset.can_delete and form.original %}
        <span class="delete">{{ form.deletion_field.field }} {{ form.deletion_field.label_tag }}</span>
        {% endif %}
        <div data-toggle="collapse"{% if not forloop.last and not form.form.errors %} class="collapsed"{% endif %} href="#{{ formset.formset.prefix }}-{% if not forloop.last and formset.has_add_permission %}{{ forloop.counter0 }}{% else %}empty{% endif %}-body">
          <span class="arrow"></span>
          {% if not form.original %}
          {{ formset.opts.verbose_name|capfirst }}:
          &nbsp;
          {% endif %}
          <span class="inline_label">
            {% if form.original %}
            {{ form.original }}
            {% else %}
            #{{ forloop.counter }}
            {% endif %}
          </span>
        </div>

        {% if form.show_url %}
        <a href="{% url 'admin:view_on_site' form.original_content_type_id form.original.pk %}">{% trans "View on site" %}</a>
        {% endif %}

      </div>
      <div class="panel-collapse collapse{% if forloop.last and formset.has_add_permission or form.form.errors %} in{% endif %}" id="{{ formset.formset.prefix }}-{% if not forloop.last and formset.has_add_permission %}{{ forloop.counter0 }}{% else %}empty{% endif %}-body">
        <div class="panel-body inline-wrapper">

          {% if form.form.non_field_errors %}
          {{ form.form.non_field_errors }}
          {% endif %}

          {% for fieldset in form %}
          {% with is_inline_group=True %}
          {% include "admin/includes/fieldset.html" %}
          {% endwith %}
          {% endfor %}

          {% if form.needs_explicit_pk_field %}
          {{ form.pk_field.field }}
          {% endif %}

          {{ form.fk_field.field }}

        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% block after_inline %}{% endblock %}

</div>

<script>
  (function($) {
    $.fn.customStackedFormset = function(options) {
      var $rows = $(this);

      var updateInlineLabel = function(row) {
        $($rows.selector).find(".inline_label").each(function(i) {
          var count = i + 1;
          $(this).html($(this).html().replace(/(#\d+)/g, "#" + count));
        });
      };

      var updateCollapse = function(row){
        var $row = $(row),
        id = $row.attr('id');

        $row.find('[data-toggle="collapse"]').attr('href', '#' + id + '-body');
        $row.find('.collapse').attr('id', id + '-body');
      };

      $rows.formset({
        prefix: options.prefix,
        addText: options.addText,
        formCssClass: "dynamic-" + options.prefix,
        deleteCssClass: "inline-deletelink",
        deleteText: options.deleteText,
        emptyCssClass: "empty-form",
        parentCssClass: "inline-parent",
        removed: updateInlineLabel,
        added: function(row){
          row.appendTo(row.parents('.inline-group').find('.inline-stacked-panel-group'));
          var $firstInput = row.find(':input:visible:first').focus();
          setTimeout(function(){
            if ($firstInput.hasClass('select2-hidden-accessible')) {
              $firstInput.select2('open');
            }
          }, 10);
          updateInlineLabel(row);
          updateCollapse(row);
        }
      });
    };

    $(".{{ formset.formset.prefix }}-group .inline-related").customStackedFormset({
      prefix: '{{ formset.formset.prefix }}',
      deleteText: '<i class="fal fa-times"></i>',
      addText: "Ajouter"
    });

    $(".{{ formset.formset.prefix }}-group .add-row").appendTo(".{{ formset.formset.prefix }}-group .inline-stacked-empty-form-wrapper");

  })(django.jQuery);
</script>

{% if formset.formset.manual_ordering and formset.has_change_permission %}
<script>
  (function($){
    var $group = $('#page-{{ unique_page_id }} .{{ formset.formset.prefix }}-group .panel-group');

    var updateOrdering = function() {
      var i = 1;
      var $field;
      $group.find('[name^="{{ formset.formset.prefix }}-"][name$="-{{ formset.formset.manual_ordering_field }}"]').each(function(){
        $field = $(this);
        if ($field.val() !== i.toString()) {
          $field.val(i).trigger('change');
        }
        i++;
      });
    };

    $(document).on('formset:added', updateOrdering);
    $(document).on('formset:removed', updateOrdering);
    $group.parents('form').on('submit', updateOrdering);

    // firefox and slip.js
    $group.css('position', 'relative');

    $group.on('slip:beforewait', function(e){
      if ($(e.target).closest('.manual-ordering-handle').length) {
        e.preventDefault();
      }
    });

    $group.on('slip:beforeswipe', function(e){ e.preventDefault(); });

    $group.on('slip:beforereorder', function(e){
      if (! $(e.target).closest('.manual-ordering-handle').length) {
        e.preventDefault();
      }
    });

    $group.on('slip:reorder', function(e){
      e.target.parentNode.insertBefore(e.target, e.originalEvent.detail.insertBefore);
      updateOrdering();
      return false;
    });

    new Slip($group[0]);

  })(jQuery);
</script>
{% endif %}

{% endwith %}
