{% load i18n static pixel9_admin_modify %}
{% with formset=inline_admin_formset %}
<div class="panel panel-simple inline-group inline-group-tabular tabular inline-related {{ formset.formset.prefix }}-group {% block panel_css_class %}{% endblock %}">
  {% if formset.opts.verbose_name_plural %}
  <div class="panel-heading">
    <h2 class="panel-title">{{ formset.opts.verbose_name_plural|capfirst }}</h2>
  </div>
  {% endif %}
  <div class="panel-body">
    {{ formset.formset.management_form }}
    {% for error in formset.formset.non_form_errors %}
    <div class="alert alert-danger alert-dismissible" role="alert">
      <div class="alert-content">
        {{ error }}
      </div>
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
    </div>
    {% endfor %}
    <div class="tabular-table-wrapper">
      <table class="table {% block table_css_class %}{% endblock %}">
        <thead>
          <tr>
            <th class="original">
            </th>
            {% if formset.formset.manual_ordering and formset.has_change_permission %}
            <th>
            </th>
            {% endif %}
            {% for field in formset.fields %}
            {% if not field.widget.is_hidden %}
            {% spaceless %}
            <th class="column-{{ field.name }}{% if field.required %} required{% endif %}{% if field.align %} column-align-{{ field.align }}{% endif %}{% if field.visually_hidden %} hidden{% endif %}">
              {{ field.label|capfirst }}{% if field.help_text %}&nbsp;<i class="far fa-info-circle text-muted column-info" width="10" height="10" data-toggle="tooltip" alt="({{ field.help_text|striptags }})" title="{{ field.help_text|striptags }}"></i>{% endif %}
            </th>
            {% endspaceless %}
            {% endif %}
            {% endfor %}
            {% if formset.formset.can_delete %}<th></th>{% endif %}
          </tr>
        </thead>

        <tbody class="inline-tbody inline-parent">
          {% for form in formset %}
          {% if forloop.last and formset.has_add_permission %}
        </tbody>
        <tbody class="empty-row-wrapper">
          {% endif %}
          <tr class="form-row {% cycle "row1" "row2" %} {% if form.original and formset.opts.show_original %}has_original{% endif %}{% if forloop.last and formset.has_add_permission %} empty-form{% endif %}"
              id="{{ form.form.prefix }}">
            <td class="original">
              {% if form.original and formset.opts.show_original %} {{ form.original }}{% endif %}
              {% if form.show_url or formset.opts.show_url %}<a href="{{ form.original.get_absolute_url }}">{% trans "View on site" %}</a>{% endif %}
              {% if form.needs_explicit_pk_field %}{{ form.pk_field.field }}{% endif %}
              {{ form.fk_field.field }}
              {% spaceless %}
              {% for fieldset in form %}
              {% for line in fieldset %}
              {% for field in line %}
              {% if field.field.is_hidden %} {{ field.field }} {% endif %}
              {% endfor %}
              {% endfor %}
              {% endfor %}
              {% endspaceless %}
            </td>
            {% if formset.formset.manual_ordering and formset.has_change_permission %}
            <td class="manual-ordering-handle">
              <span class="far fa-grip-lines"></span>
            </td>
            {% endif %}

            {% for fieldset in form %}
            {% for line in fieldset %}
            {% for field in line %}
            {% if not field.field.is_hidden %}
            <td{% for name,value in field.field.cell_attributes.items %} {{ name }}="{{ value }}"{% endfor %}>
              {% if field.is_readonly %}
              <div class="readonly-field-contents">{% readonly_field_contents field %}</div>
              {% else %}
              {% field field.field layout='admin_inline_tabular' show_help=False model_admin=form.model_admin %}
              {% endif %}
              {% if forloop.parentloop.first %}
              {% if form.form.non_field_errors %}
              {% for error in form.form.non_field_errors  %}
              {{ form.form.non_field_errors }}
              {% endfor %}
              {% endif %}
              {% endif %}
            </td>
            {% endif %}
            {% endfor %}
            {% endfor %}
            {% endfor %}
            {% if formset.formset.can_delete %}
            <td class="delete-link">
              {% if form.original %}
              <label>
                <i class="fal fa-times"></i>
                {{ form.deletion_field.field }}
              </label>
              {% endif %}
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>

<script>
  (function($) {
    $.fn.customTabularFormset = function(options) {
      var $rows = $(this);

      $rows.formset({
        prefix: options.prefix,
        addText: options.addText,
        formCssClass: "dynamic-" + options.prefix,
        deleteCssClass: "inline-deletelink",
        deleteText: options.deleteText,
        emptyCssClass: "empty-form",
        parentCssClass: "inline-parent",
        added: function(row){
          row.appendTo(row.parents('.inline-group').find('.inline-tbody'));
          var $firstInput = row.find(':input:visible:first').focus();
          setTimeout(function(){
            if ($firstInput.hasClass('select2-hidden-accessible')) {
              $firstInput.select2('focus');
            }
          }, 10);
        }
      });
    };

    var $group = $(".{{ formset.formset.prefix }}-group.tabular");
    var $rows = $group.find("tbody tr");

    $rows.customTabularFormset({
      prefix: '{{ formset.formset.prefix }}',
      deleteText: '<i class="fal fa-times"></i>',
      addText: "Ajouter"
    });

    $group.find(".add-row").appendTo(".{{ formset.formset.prefix }}-group .panel-body");

    $group.find('.delete-link label').on('click', function(){
      var $label = $(this);

      $label.find('input[type="checkbox"]').prop('checked', true);

      $label.parents('tr').addClass('hidden');
      $(document).trigger('formset:delete-link-clicked', [$label]);
    });

    // if row is marked for deletion do not show it (after a form error)
    $group.find('[name$="-DELETE"]').each(function(){
      var $checkbox = $(this);
      if ($checkbox.prop('checked')) {
        $checkbox.parents('tr').addClass('hidden');
      }
    });

  })(django.jQuery);
</script>

{% if formset.formset.manual_ordering and formset.has_change_permission %}
<script>
  (function($){

    var $group = $('#page-{{ unique_page_id }} .{{ formset.formset.prefix }}-group .inline-tbody');

    var updateOrdering = function() {
      var i = 1;
      var $field;
      $group.find('[name^="{{ formset.formset.prefix }}-"][name$="-{{ formset.formset.manual_ordering_field }}"]').each(function(){
        $field = $(this);
        if ($field.val() !== i.toString()) {
          $field.val(i).trigger('change');
        }
        i++;
      });
    };

    $(document).on('formset:added', updateOrdering);
    $(document).on('formset:removed', updateOrdering);
    $group.parents('form').on('submit', updateOrdering);

    // firefox and slip.js
    $group.css('position', 'relative');

    $group.on('slip:beforewait', function(e){
      if ($(e.target).closest('.manual-ordering-handle').length) {
        e.preventDefault();
      } else {
        // fix issue with bootstrap dropdowns inside slip.js
        slip.target.node.style.willChange = '';
      }
    });

    $group.on('slip:beforeswipe', function(e){ e.preventDefault(); });

    $group.on('slip:beforereorder', function(e){
      if (! $(e.target).closest('.manual-ordering-handle').length) {
        e.preventDefault();
      }
    });

    $group.on('slip:reorder', function(e){
      e.target.parentNode.insertBefore(e.target, e.originalEvent.detail.insertBefore);
      updateOrdering();
      return false;
    });

    var slip = new Slip($group[0]);


  })(jQuery);
</script>
{% endif %}

{% endwith %}
