{% extends "admin/base_site.html" %}
{% load i18n static pixel9_admin_urls bootstrap3 %}

{% block content %}
<div class="row">
  <div class="col-md-6">

    <form action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
      <div>
        {% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
        {% if form.errors %}
        <p class="errornote">
          {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
        </p>
        {% endif %}

        <p>{% blocktrans with username=original %}Enter a new password for the user <strong>{{ username }}</strong>.{% endblocktrans %}</p>

        <fieldset class="module aligned">

          <div class="form-group">
            {% bootstrap_field form.password1 %}
          </div>

          <div class="form-group">
            {% bootstrap_field form.password2 %}
          </div>

        </fieldset>

        <div class="submit-row">
          <input type="submit" value="{% trans 'Modifier le mot de passe' %}" class="btn btn-default" />
        </div>

        <script type="text/javascript">document.getElementById("id_password1").focus();</script>
      </div>
    </form>

  </div>
</div>
{% endblock %}


