{% load i18n bootstrap3 %}

  {% for field in action_form %}
  {{ field }}
  {% endfor %}
  <button bind="xhr" type="submit" class="btn btn-primary" title="{% trans "Run the selected action" %}" name="index" value="{{ action_index|default:0 }}">Appliquer</button>
  <div class="actions-count">
    {% if actions_selection_counter %}
    <script>
      var _actions_icnt="{{ cl.result_list|length|default:'0' }}";
    </script>
    <span class="action-counter">
      {{ selection_note }}
    </span>
    {% if cl.result_count != cl.result_list|length %}
    <span class="all">
      {{ selection_note_all }}
    </span>
    <span class="question">
      <a href="javascript:;" title="{% trans "Click here to select the objects across all pages" %}">{% blocktrans with cl.result_count as total_count %}Select all {{ total_count }} {{ module_name }}{% endblocktrans %}</a>
    </span>
    <span class="clear">
      <a href="javascript:;">{% trans "Clear selection" %}</a>
    </span>
    {% endif %}
    {% endif %}
  </div>
<script>
  $('.actions select').addClass('form-control');

  // special case for export action
  var $action = $('.actions [name="action"]');
  var $fileFormat = $('.actions [name="file_format"]')
  if ($fileFormat.length) {
    $action.on('change', function() {
      if ($(this).val() == 'export_admin_action') {
        $fileFormat.show();
      } else {
        $fileFormat.hide();
      }
    }).change();
  }
</script>
