{% load l10n i18n bootstrap3 %}
<title>{{ title }}</title>

{% include "admin/includes/messages.html" %}

<form bind="xhr" novalidate action="{{ request.get_full_path }}" method="POST">
  {% csrf_token %}
  <input type="hidden" name="_page_id" value="{{ unique_page_id }}">

  {% for obj in queryset %}
  <input type="hidden" name="_selected_action" value="{{ obj.pk|unlocalize }}">
  {% endfor %}
  <input type="hidden" name="post" value="yes">
  <input type="hidden" name="action" value="{{ action }}">
  {% block form %}
  <div class="panel panel-simple">
    <div class="panel-body">
      {% bootstrap_form form %}
    </div>
  </div>
  {% endblock %}
  <div class="d-flex">
    <div class="flex-fill">
    </div>
    <div>
      <input class="btn btn-primary" type="submit" value="{% trans "Enregistrer" %}">
    </div>
  </div>
</form>

