{% load i18n static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="NONE,NOARCHIVE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    {% block css %}
    <link rel="stylesheet" href="{% static "admin/main.css" %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block">
    {% endblock %}
    {% block js %}
    <script src="{% url "admin:jsi18n" %}"></script>
    <script src="{% static "admin/dist/jquery/dist/jquery.js" %}"></script>
    <script src="{% static "admin/dist/underscore/underscore.js" %}"></script>
    <script src="{% static "admin/dist/moment/moment.js" %}"></script>
    <script src="{% static "admin/dist/backbone-view.js" %}"></script>
    <script src="{% static "admin/dist/page/page.js" %}"></script>
    <script src="{% static "admin/dist/select2/dist/js/select2.full.js" %}"></script>
    <script src="{% static "admin/dist/select2/dist/js/i18n/fr.js" %}"></script>
    <script src="{% static "admin/dist/slip/slip.js" %}"></script>
    <script src="{% static "admin/dist/jquery-deparam/jquery.deparam.js" %}"></script>
    <script src="{% static "admin/dist/jquery-formwatch/jquery.formwatch.js" %}"></script>
    <script src="{% static "admin/dist/autosize/dist/autosize.js" %}"></script>
    <script src="{% static "admin/dist/bootstrap/js/dropdown.js" %}"></script>
    <script src="{% static "admin/dist/bootstrap/js/modal.js" %}"></script>
    <script src="{% static "admin/dist/bootstrap/js/tab.js" %}"></script>
    <script src="{% static "admin/dist/bootstrap/js/button.js" %}"></script>
    <script src="{% static "admin/dist/bootstrap/js/alert.js" %}"></script>
    <script src="{% static "admin/dist/bootstrap/js/collapse.js" %}"></script>
    <script src="{% static "admin/dist/bootstrap/js/tooltip.js" %}"></script>
    <script src="{% static "admin/dist/bootstrap/js/popover.js" %}"></script>
    <script src="{% static "admin/dist/bootstrap-datepicker/js/bootstrap-datepicker.js" %}"></script>
    <script src="{% static "admin/dist/bootstrap-datepicker/js/locales/bootstrap-datepicker.fr.js" %}"></script>
    <script src="{% static "admin/dist/bootstrap-daterangepicker/daterangepicker.js" %}"></script>
    <script src="{% static "admin/dist/bootstrap-3-timepicker/js/bootstrap-timepicker.js" %}"></script>
    <script src="{% static "admin/dist/bootbox/bootbox.js" %}"></script>
    <script src="{% static "admin/dist/nprogress/nprogress.js" %}"></script>
    <script src="{% static "admin/dist/quicksearch/jquery.quicksearch.js" %}"></script>
    <script src="{% static "admin/dist/multiselect/js/jquery.multi-select.js" %}"></script>
    <script src="{% static "admin/dist/corejs-typeahead/dist/typeahead.bundle.js" %}"></script>
    <script>var django = {}; django.jQuery = jQuery;</script>
    <script src="{% static "admin/dist/actions.js" %}"></script>
    <script src="{% static "admin/dist/inlines.js" %}"></script>
    <script src="{% static "admin/dist/csrf.js" %}"></script>
    <script src="{% static "admin/dist/autocomplete.js" %}"></script>
    <script src="{% static "admin/dist/autocomplete_filter_qs.js" %}"></script>
    <script src="{% static "admin/dist/multiselect.js" %}"></script>
    <script src="{% static "admin/dist/changelist-search-typeahead.js" %}"></script>
    <script>
      app = window.app || {};
      app.conf = {
        logoutUrl: '{% url "admin:logout" %}',
        root: '{% url "admin:index" %}',
      };
    </script>
    <script src="{% static "admin/dist/utils.js" %}"></script>
    <script src="{% static "admin/dist/main.js" %}"></script>
    {% endblock %}
  </head>
  <body>
    {% block app_shell %}
    <div class="wrapper">
      {% block sidebar %}
      <aside class="sidebar">
        <div class="sidebar-content">
        <header>
          <a class="media title" href="{% url "admin:index" %}">
            <div class="pull-left">
              <img class="favicon" width="16" height="16" src="/favicon.ico">
            </div>
            <div class="media-body">
              {{ current_site.name }}
              <br>
              <span class="text-muted small">{{ current_site }}</span>
            </div>
          </a>
          <ul class="sidebar-nav nav">
            <li class="dropdown user">
              <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">{{ user.email }}</a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{% url "admin:logout" %}">Déconnexion</a></li>
                <li><a href="{% url "admin:password_change" %}">Mot de passe</a></li>
                {#<li><a href="{% url "admin:user_profile" %}">Modifier mes infos</a></li>#}
              </ul>
            </li>
          </ul>
        </header>
        {% block menu %}
        {% include "admin/includes/menu.html" %}
        {% endblock %}
        </div>
      </aside>
      {# toggle need to ba after sidebar so we can select it with css #}
      <a class="sidebar-toggle" data-toggle="collapse" data-target=".sidebar" href="javascript:;">
      </a>
      {% endblock %}
      {% block main_panel %}
      <main class="main-panel">
        {{ content|safe }}
      </main>
      {% endblock %}
    </div>
    {% endblock %}
    <div class="loading-overlay loading-overlay-hidden"></div>
  </body>
</html>
