{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ app_list.0.name|capfirst }}{% endblock %}

{% block page_title %}{{ app_list.0.name|capfirst }}{% endblock %}

{% block content %}
{% with app=app_list.0 %}
<div class="row">
  <div class="row col-sm-push-3 col-sm-6">
    <div class="list-group">
      {% block models %}
      {% for model in app.models %}
      {% if model.admin_url %}
      <a class="list-group-item" href="{{ model.admin_url }}">{{ model.name }}</a>
      {% endif %}
      {% endfor %}
      {% endblock %}
    </div>
  </div>
</div>
{% endwith %}
{% endblock %}
