{% load html %}

{% block title_wrapper %}<title>{% block title %}{{ title }}{% endblock %}</title>{% endblock %}

{% block css %}{% endblock %}

<div class="main-header"></div>

{% block main-body %}
<div class="main-body" id="page-{{ unique_page_id }}">
  {% block title-bar-wrapper %}
  <div class="title-bar">
    {% block title-bar %}
    <div class="title-bar-nav">
      <div class="title-bar-breadcrumb">
        {% block breadcrumbs %}
        {% block breadcrumb %}
        {% endblock %}
        {% endblock %}
      </div>
    </div>
    <div class="title-bar-main">
      <h1 class="title">
        {% block page_title %}
        {% endblock %}
      </h1>
      <div class="title-bar-actions">
        {% block actions %}{% endblock %}
      </div>
    </div>
    {% endblock %}
    {% block action-bar-wrapper %}
    <div class="action-bar">
      {% block object-tools %}
      {% block action-bar %}
      {% endblock %}
      {% endblock %}
    </div>
    <div class="action-bar-dropdown-menus">
    {% block action-bar-dropdown-menus %}
    {% endblock %}
    </div>
    {% endblock %}
  </div>
  {% endblock %}

  {% block messages %}
  {% include "admin/includes/messages.html" %}
  {% endblock %}

  {% block content %}
  {% endblock %}
</div>
{% endblock %}

{% block js %}
{{ block.super }}
{% if data_store %}
{{ data_store|json_script:"data-store" }}
<script>
  // https://docs.djangoproject.com/en/2.1/ref/templates/builtins/#json-script
  app = window.app || {};
  app.dataStore = JSON.parse(document.getElementById('data-store').textContent);
</script>
{% endif %}
{% endblock %}
