{% extends "admin/base.html" %}
{% load i18n static pixel9_admin_urls pixel9_admin_list bootstrap3 %}

{% block title %}Liste des {{ module_name }}{% endblock %}

{% block main-body %}
<div class="changelist-wrapper changelist-wrapper-{{ opts.model_name }}" id="page-{{ unique_page_id }}">

  {% block search_form %}
  {% search_form cl %}
  {% endblock %}

  {% block filters_form %}
  {% if cl.has_filters %}
  <form bind="xhr" method="get" action="" id="{{ unique_page_id }}-filters-form" class="filters-form">
  {% for k, v in cl.params.items %}
  {% if k not in filters_expected_parameters %}
  <input type="hidden" name="{{ k }}" value="{{ v }}">
  {% endif %}
  {% endfor %}
  </form>
  {% endif %}
  {% endblock %}

  <form novalidate id="changelist-form" class="changelist-form changelist-form-{{ opts.model_name }}" action="{{ request.get_full_path }}" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %}>
    {% csrf_token %}

    <input type="hidden" name="_page_id" value="{{ unique_page_id }}">

    {% if action_form and actions_on_top and cl.full_result_count %}
    <div class="actions panel hidden">
      <div class="panel-body">
        {% with is_top=True %}
        {% admin_actions %}
        {% endwith %}
      </div>
    </div>
    {% endif %}

    <main class="main-body">

      {% block title-bar-wrapper %}
      <div class="title-bar">
        {% block title-bar %}
        <div class="title-bar-nav">
          <div class="title-bar-nav-main">
            <div class="title-bar-breadcrumb">
              {% block breadcrumbs %}
              {% block breadcrumb %}
              {% endblock %}
              {% endblock %}
            </div>
          </div>
        </div>
        <div class="title-bar-main">
          <h1 class="title">{% block page_title %}{{ module_name|capfirst|truncatechars:"100" }}{% endblock %}</h1>
          <div class="title-bar-actions">
            {% block title-bar-actions %}
            {% if show_add != False and has_add_permission %}
            <a class="btn btn-secondary" href="{% add_preserved_filters add_url is_popup %}">
              {% blocktrans with cl.opts.verbose_name as name %}Add{% endblocktrans %}
            </a>
            {% endif %}
            {% if cl.formset and cl.result_count %}
            <button class="btn btn-default changelist-submit" type="submit" name="_save">{% trans 'Save' %}</button>
            {% endif %}
            {% endblock %}
          </div>
        </div>
        {% endblock %}
      </div>
      {% endblock %}

      {% block action-bar-wrapper %}
      <div class="action-bar">
      {% block object-tools %}
      {% block action-bar %}
      {% block object-tools-items %}
      {% endblock %}
      {% endblock %}
      {% endblock %}
      </div>
      <div class="action-bar-dropdown-menus">
      {% block action-bar-dropdown-menus %}
      {% endblock %}
      </div>
      {% endblock %}

      {% block messages %}
      {{ block.super }}
      {% if cl.formset.errors %}
      <div class="alert alert-danger">
        {% if cl.formset.total_error_count == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
        {{ cl.formset.non_form_errors }}
      </div>
      {% endif %}
      {% endblock %}

      {% block changelist_before %}{% endblock %}

      {% if filter_presets %}
      <ul class="nav nav-tabs">
        {% for preset in filter_presets %}
        <li class="{% if preset.active %}active{% endif %}">
          <a bind="xhr" href="{% if preset.url %}{{ preset.url }}{% endif %}">{{ preset.label }}</a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}

      {% if filter_presets %}
      <div class="tab-content tab-pane">
        {% endif %}

        <div class="{% if filter_presets %}tab-pane active {% endif %}panel panel-simple">
          <div class="panel-body">

            {% if action_form and actions_on_top and cl.full_result_count or cl.search_fields or cl.has_filters or cl.model_admin.support_manual_ordering %}
            <div class="changelist-top">

              <div class="changelist-top-left">
                {% if cl.model_admin.support_manual_ordering and cl.result_count > 1 %}
                {% if manual_ordering %}
                <a class="btn btn-secondary sort-btn" href="{{ manual_ordering_return_url }}">
                  <i class="far fa-sort"></i>
                  &nbsp;Terminer
                </a>
                <span class="text-muted small">&nbsp;&nbsp;Glissez les rangées pour les ordonner</span>
                {% else %}
                <a class="btn btn-default sort-btn" href="{{ manual_ordering_url }}" title="Définir l'ordre">
                  <i class="far fa-sort"></i>
                </a>
                {% endif %}
                {% endif %}

                {% block search_input %}
                {% if not manual_ordering %}
                {% search_input cl %}
                {% endif %}
                {% endblock %}

                {% block filters %}
                {% if cl.has_filters and not manual_ordering %}
                <div class="filters">
                  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#{{ unique_page_id }}-filters-modal">
                    <i class="far fa-filter"></i>
                    <span class="hidden-xs">
                    {% trans "Filtres" %}
                    </span>
                  </button>
                  {% include "admin/includes/filters_modal.html" with modal_id=unique_page_id|add:"-filters-modal" modal_title="Filtrer les résultats" %}
                </div>
                {% endif %}
                {% endblock %}

                {% if not manual_ordering and cl.model_admin.date_hierarchy %}
                {% if show_date_hierarchy %}
                <a href="{{ date_hierarchy_url }}" class="btn btn-secondary"><i class="far fa-calendar-alt"></i></a>
                {% else %}
                <a href="{{ date_hierarchy_url }}" class="btn btn-default"><i class="far fa-calendar-alt"></i></a>
                {% endif %}
                {% endif %}


                </div>
                <div class="changelist-top-right">
                  {% block changelist_top_right %}

                  {% if show_changelist_content_language_toggle %}
                  <div class="btn-group mr-1">
                    {% for choice in content_language_choices %}
                    <a class="btn btn-default{% if choice.active %} active{% endif %}" href="{{ choice.link }}">{{ choice.label|upper }}</a>
                    {% endfor %}
                  </div>
                  {% endif %}

                  {% block display_choices %}
                  {% if show_list_display_choices and not manual_ordering %}
                  <div class="display-choices">
                    <button class="btn{% if request.GET.d %} btn-secondary{% else %} btn-default{% endif %}" type="button" data-toggle="modal" data-target="#{{ unique_page_id }}-display-choices-modal">
                      <i class="far fa-columns"></i>
                      <span class="hidden-xs">Colonnes</span>
                    </button>
                  </div>
                  {% include "admin/includes/display_choices_modal.html" with modal_id=unique_page_id|add:"-display-choices-modal" modal_title="Modifier les colonnes" %}
                  {% endif %}
                  {% endblock %}

                  {% endblock %}
                </div>

          </div>
          {% endif %}

          {% if has_active_filters %}
          <div class="filter-selections">
            {% for spec in cl.filter_specs %}
            {% admin_list_filter_selection cl spec %}
            {% endfor %}
          </div>
          {% endif %}

          {% block date_hierarchy %}
          {% if not manual_ordering %}
          <div class="date-hierarchy-wrapper collapse{% if show_date_hierarchy %}in{% endif %}">
            {% date_hierarchy cl %}
          </div>
          {% endif %}
          {% endblock %}

          <div class="changelist changelist-{{ opts.model_name }} module{% if cl.has_filters %} filtered{% endif %}"id="changelist">
            {% if cl.formset %}
            <div>{{ cl.formset.management_form }}</div>
            {% endif %}

            {% block result_list %}
            {% language content_language %}
            {% result_list_with_context cl %}
            {% endlanguage %}
            {% endblock %}

            <div>
              {% if action_form and actions_on_bottom and cl.full_result_count and not manual_ordering %}
              <div class="actions dropdown dropup actions-dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="actions-bottom-dropdown" data-toggle="dropdown">
                  Actions
                  <span class="caret"></span>
                </button>
                <div class="dropdown-menu" role="menu" aria-labelledby="actions-bottom-dropdown">
                  {% with is_bottom=True %}
                  {% admin_actions %}
                  {% endwith %}
                </div>
              </div>
              {% endif %}

              {% block pagination %}
              {% if not manual_ordering %}
              {% pagination cl %}
              {% endif %}
              {% endblock %}
            </div>
          </div>
          {% if filter_presets %}
        </div>
        {% endif %}
      </div>

      {% block changelist_after %}{% endblock %}

    </main>
  </form>
</div>

{% if action_form %}
{% if actions_on_top or actions_on_bottom %}
<script>
  (function($) {
    var $page = $('#page-{{ unique_page_id }}');

    $(document).ready(function($) {
      $page.find("tr input.action-select").actions({parent: $page});
    });

  })(django.jQuery);
</script>
{% endif %}
{% endif %}

{% if manual_ordering %}
<script>
  (function($){

    var POSITION_URL = '{% url opts|admin_urlname:"position" %}';
    var tbody = $('#page-{{ unique_page_id }} .changelist-table tbody').get(0);

    tbody.addEventListener('mouseover', function(e) {
      if ($(e.target).closest('.manual-ordering-handle').length) {
        $(document.activeElement).blur();
      }
    }, false);

    tbody.addEventListener('slip:beforewait', function(e){
      if ($(e.target).closest('.manual-ordering-handle').length) {
        e.preventDefault();
      }
    }, false);

    tbody.addEventListener('slip:beforeswipe', function(e){
      e.preventDefault();
    }, false);

    tbody.addEventListener('slip:beforereorder', function(e){
      if (! $(e.target).closest('.manual-ordering-handle').length) {
        e.preventDefault();
      }
    }, false);

    tbody.addEventListener('slip:reorder', function(e){
      e.target.parentNode.insertBefore(e.target, e.detail.insertBefore);
      $.post(POSITION_URL, {
        pk: $(e.target).data('pk'),
        position: event.detail.spliceIndex
      });
      return false;
    }, false);

    new Slip(tbody);

  })(jQuery);
</script>
{% endif %}

<script>
  (function($){

    var $page = $('#page-{{ unique_page_id }}');
    var $form = $page.find('.changelist-form');
    var $filtersForm = $page.find('.filters-form');
    var $submit = $page.find('.changelist-submit');
    var $actions = $page.find('.actions');
    var $actionsCheckboxes = $page.find('[name="_selected_action"], .action-checkbox-column [type="checkbox"]');
    var $displayChoices = $page.find('.display-choices');
    var $displayChoicesSubmit = $page.find('[bind="display-choices-submit"]');
    var $displayChoicesCheckboxes = $displayChoices.find('[name^="display-choice-"]');
    var displayChoicesBaseUrl = '{{ list_display_choices_base_url|safe }}';
    var $filterChoicesInputs = $form.find('.filter-choices :input');

    $page.find('.changelist').find('[type="text"],[type="email"],[type="url"],[type="number"],select,textarea').addClass('form-control');

    $actionsCheckboxes.on('change', function(){
      setTimeout(function() {
        if ($actionsCheckboxes.filter(':checked').length) {
          $actions.removeClass('hidden');
        } else {
          $actions.addClass('hidden');
        }
      }, 20);
    });

    $displayChoicesSubmit.on('click', function(){
      // find again they may order may have change
      var $displayChoicesCheckboxes = $displayChoices.find('[name^="display-choice-"]');
      var selected = [];
      $displayChoicesCheckboxes.filter(':checked').each(function(){
        selected.push($(this).val());
      });
      var url = app.utils.ensureUrlParam(displayChoicesBaseUrl, 'd', selected.join('.'));
      var $a = $('<a href="'+url+'"></a>');
      $displayChoices.append($a);
      $a[0].click();
    });

    var ignoreFields = ['q', 'index', 'submit-search', '_selected_action', 'select_across', 'action', 'action-toggle', '_save'];

    $filterChoicesInputs.each(function(){
      ignoreFields.push($(this).attr('name'));
    });

    $displayChoicesCheckboxes.each(function(){
      ignoreFields.push($(this).attr('name'));
    });

    $form.watch({
      ignoreFields: ignoreFields
    });

    $form.on('modified', function(){
      $submit.addClass('btn-primary');
      $submit.removeClass('btn-default');
    });

    $form.on('reverted', function(){
      $submit.addClass('btn-default');
      $submit.removeClass('btn-primary');
    });

    $page.find('.filters').each(function(){
      var $el = $(this);

      $el.find('.filter-fields :input').attr('form', '{{ unique_page_id }}-filters-form');

      $el.find('.filters-select').on('change', function(){
        var $panels = $el.find('.filter-fields');
        var $currentPanel = $panels.filter($(this).val());
        $panels.addClass('hidden').removeClass('selected-filter');
        $currentPanel.removeClass('hidden').addClass('selected-filter');
        $currentPanel.find(':input:first').focus();
      }).change();

      $el.find('.list-filter select').on('change', function(){
        var url = $(this).find(':selected').val();
        var $hidden = $(this).parent().find('input[type="hidden"]');
        var urlparams = new URLSearchParams(url);
        $hidden.val(urlparams.get($hidden.attr('name')));
      }).change();

      // allow to scroll on mobile devices otherwise calendars are out of reach
      $el.find('[bind="daterange-picker"]').on('show.daterangepicker', function(e, picker){
        if ($(window).width() < 1000) {
          $('html,body').removeClass('modal-open');
        }
      });

      $el.find('[bind="daterange-picker"]').on('hide.daterangepicker', function(e, picker){
        $('html,body').addClass('modal-open');
      });

      $el.find('.numeric-filter [class$="_lookup2_collapse"]').on('hidden.bs.collapse', function(){
        var $filter = $(this).parents('.numeric-filter');
        $filter.find('[name$=__lookup2],[name$=__value2]').val('').change();
      });

      $filtersForm.on('submit', function(){
        $el.find('.numeric-filter').each(function(){
          var $filter = $(this);
          var $lookup1 = $filter.find('[name$=__lookup1]');
          var $value1 = $filter.find('[name$=__value1]');
          var $lookup2 = $filter.find('[name$=__lookup2]');
          var $value2 = $filter.find('[name$=__value2]');

          if ($value1.val() === '' && $lookup1.val() !== 'exact') {
            $lookup1.val('').change();
          } else if ($lookup1.val() === '') {
            $value1.val('').change();
          }

          if ($value2.val() === '' && $lookup2.val() !== 'exact') {
            $lookup2.val('').change();
          } else if ($lookup2.val() === '') {
            $value2.val('').change();
          }
        });

        // do not submit empty inputs
        $el.find('.filter-spec :input:not(.filter-submit)').each(function(){
          var $input = $(this);
          var name = $input.attr('name');

          if ($input.val() === '') {
            $input.prop('disabled', true);
            if (name) {
              $filtersForm.attr('action', app.utils.removeUrlParam($filtersForm.attr('action'), $input.attr('name')));
            }
          }
        });
      });
    });

  })(jQuery);
</script>

{% if cl.formset.errors %}
<script>
  (function($){
    var $page = $('#page-{{ unique_page_id }}');
    var $form = $page.find('.changelist-form');
    /* this will trigger a 'modified' event that cannot be 'reverted' by jquery.formwatch */
    $form.append('<input type="hidden" name="_form_error_count" value="{{ cl.formset.errors|length }}">');

  }(jQuery));
</script>
{% endif %}

{% if search_typeahead %}
<script>
  $(function(){

    var $page = $('#page-{{ unique_page_id }}');
    var typeaheadConfig = JSON.parse('{{ search_typeahead|safe }}');
    $page.find('#searchbar').changelistSearchTypeahead(typeaheadConfig);

  });
</script>
{% endif %}

<script>
  $(function(){

    var $page = $('#page-{{ unique_page_id }}');
    var searchInput = $page.find('#searchbar');

    var scrollTop = (window.pageYOffset !== undefined) ? window.pageYOffset : (document.documentElement || document.body.parentNode || document.body).scrollTop;
    if (scrollTop <= 30 && ! app.isTouchDevice) {
      searchInput.one('typeahead:beforeopen', function(e){
        e.preventDefault();
      });
      searchInput.select();
    }

  });
</script>

{% endblock %}
