{% extends "admin/base.html" %}
{% load i18n static pixel9_admin_urls pixel9_admin_modify %}

{% block title %}
{{ block.super }}
{% if change %}{{ original|default:title|truncatechars:"100" }}{% endif %}
{% endblock %}

{% block main-body %}
<div class="change-form-wrapper" id="page-{{ unique_page_id }}">
  <form novalidate action="{{ form_url }}" class="change-form change-form-{{ opts.model_name }}"{% if has_file_field %} enctype="multipart/form-data"{% endif %} method="post" id="{{ opts.model_name }}_form">
    {% csrf_token %}

    <input type="hidden" name="_page_id" value="{{ unique_page_id }}">

    {% if request.GET.next %}
    <input type="hidden" name="next" value="{{ request.GET.next }}">
    {% endif %}

    {% if is_popup %}
    <input type="hidden" name="_popup" value="1">
    {% endif %}

    <main class="main-body">

      {% block title-bar-wrapper %}
      <div class="title-bar">
        {% block title-bar %}
        <div class="title-bar-nav">
          <div class="title-bar-nav-main">
            <div class="title-bar-breadcrumb">
              {% block breadcrumbs %}
              {% block breadcrumb %}
              {% if not is_popup %}
              {% if can_access_changelist %}
              <a href="{{ changelist_url }}">{{ opts.verbose_name_plural|capfirst|truncatechars:"20" }}</a>
              {% else %}
              <span class="text-muted">{{ opts.verbose_name|capfirst|truncatechars:"20" }}</span>
              {% endif %}
              {% endif %}
              {% endblock %}
              {% endblock %}
            </div>
          </div>

          {% block prev_next %}
          {% include "admin/includes/prev_next.html" %}
          {% endblock %}

        </div>
        <div class="title-bar-main">
          <h1 class="title">
            {% block page_title %}
            {% block page_title_prefix %}
            {% if change %}
            <span class="title-prefix">
            {{ opts.verbose_name|capfirst|truncatechars:"20" }}
            </span>
            {% endif %}
            {% endblock %}
            {{ original|default:title|truncatechars:"100" }}
            {% endblock %}
          </h1>
          <div class="title-bar-actions">
            {% if save_on_top %}
            {% block submit_buttons_top %}
            {% with is_top=True %}
            {% submit_row %}
            {% endwith %}
            {% endblock %}
            {% endif %}
          </div>
        </div>
        {% endblock %}
      </div>
      {% endblock %}

      {% block action-bar-wrapper %}
      <div class="action-bar">
        {% block object-tools %}
        {% block action-bar %}
        {% if change %}
        {% if not is_popup %}
        {% block object-tools-items %}
        {% if has_absolute_url %}
        <a class="btn btn-default" target="_blank"  href="{{ absolute_url }}" class="viewsitelink">
          <i class="fa fa-eye"></i>
          Afficher
        </a>
        {% endif %}
        {% endblock %}
        {% endif %}
        {% endif %}
        {% endblock %}
        {% endblock %}
      </div>
      <div class="action-bar-dropdown-menus">
      {% block action-bar-dropdown-menus %}
      {% endblock %}
      </div>
      {% endblock %}

      {% block messages %}
      {{ block.super }}
      {% if errors %}
      <div class="alert alert-danger alert-dismissible" role="alert">
        <div class="alert-content">
        {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
        </div>
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
      </div>
      {% for error in adminform.form.non_field_errors %}
      <div class="alert alert-danger alert-dismissible" role="alert">
        <div class="alert-content">
          {{ error }}
        </div>
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
      </div>
      {% endfor %}
      {% endif %}
      {% endblock %}

      {% block form_top %}{% endblock %}

      {% block field_sets_and_inlines %}

      {% block field_sets %}
      <div class="row">
        <div class="col-sm-12 col-md-10 col-lg-8">
          {% for fieldset in adminform %}
          {% include "admin/includes/fieldset.html" %}
          {% endfor %}
        </div>
      </div>
      {% endblock %}

      {% block inline_field_sets %}
      {% for inline_admin_formset in inline_admin_formsets %}
      {% include inline_admin_formset.opts.template %}
      {% endfor %}
      {% endblock %}

      {% endblock %}
    </main>

    <footer class="main-footer">
      {% block submit_buttons_bottom %}
      {% with is_bottom=True %}{% submit_row %}{% endwith %}
      {% if not is_popup %}
      {% if change %}
      {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
      <a style="margin-right:5px;" class="pull-left btn btn-default save-before" href="{% add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>
      {% endif %}
      {% endif %}
      {% endblock %}
    </footer>
  </form>
</div>
{% endblock %}

{% block js %}
{{ block.super }}
<script>
  (function($){
    var $page = $('#page-{{ unique_page_id }}');
    var $form = $page.find('.change-form');
    var $submit = $form.find('.change-form-submit');
    var $saveBefore = $form.find('.save-before');
    var ignoreFields = $page.data('formwatch:ignorefields');

    if (typeof ignoreFields === 'undefined') {
      ignoreFields = ['_save', '_saveasnew', '_continue', '_addanother'];
    }

    $form.watch({ignoreFields: ignoreFields});

    $form.on('modified', function(){
      $submit.addClass('btn-primary');
      $submit.removeClass('btn-default');
      $saveBefore.prop('disabled', true).addClass('disabled');
    });

    $form.on('reverted', function(){
      $submit.addClass('btn-default');
      $submit.removeClass('btn-primary');
      $saveBefore.prop('disabled', false).removeClass('disabled');
    });

  })(jQuery);
</script>

{% if add %}
<script>
  (function($){
    var $form = $('#page-{{ unique_page_id }} .change-form');
    var $saveBefore = $form.find('.save-before');
    $saveBefore.prop('disabled', true).addClass('disabled');
  })(jQuery);
</script>
{% endif %}

{% if errors %}
<script>
  (function($){

    var $form = $('#page-{{ unique_page_id }} .change-form');
    /* this will trigger a 'modified' event that cannot be 'reverted' by jquery.formwatch */
    $form.append('<input type="hidden" name="_form_error_count" value="{{ errors|length }}">');
    $form.change();
    var $saveBefore = $form.find('.save-before');
    $saveBefore.prop('disabled', true).addClass('disabled');

  }(jQuery));
</script>
{% endif %}

{% endblock %}
