{% load i18n l10n static pixel9_admin_list %}
{% if result_hidden_fields %}
<div class="hiddenfields">{# DIV for HTML validation #}
  {% for item in result_hidden_fields %}{{ item }}{% endfor %}
</div>
{% endif %}
<div class="results">
  <table class="table changelist-table" id="result_list">
    <thead>
      <tr>
        {% if manual_ordering %}
        <th></th>
        {% endif %}
        {% for header in result_headers %}
        <th scope="col" {{ header.class_attrib }}>
          {% spaceless %}
          <div class="text">
            {% if header.sortable and not manual_ordering %}
            <a href="{{ header.url_primary }}">{{ header.text|capfirst }}</a>
            {% else %}
            <span>{{ header.text|capfirst }}</span>
            {% endif %}
          </div>
          {% if header.sortable and not manual_ordering %}
          {% if header.sort_priority > 0 %}
          <div class="sortoptions">
            <a href="{{ header.url_toggle }}" class="caret toggle {% if header.ascending %}ascending{% else %}descending{% endif %}" title="{% trans "Toggle sorting" %}"></a>
            <a class="sortremove" href="{{ header.url_remove }}" title="{% trans "Remove from sorting" %}">&times;</a>
          </div>
          {% endif %}
          {% endif %}
          {% if header.column_info %}
          &nbsp;<i data-toggle="popover" data-html="true" data-placement="left" data-content='{{ header.column_info|safe }}' class="far fa-info-circle text-muted column-info" width="10" height="10">
          {% endif %}
          {% endspaceless %}
        </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for result in results|cells_handler:cl %}
      {% if result.form.non_field_errors %}
      <tr class="danger"><td colspan="{{ result|length }}">{{ result.form.non_field_errors }}</td></tr>
      {% endif %}
      <tr{% result_row_attrs cl forloop.counter result.form %} data-pk="{{ result.pk|unlocalize }}">
        {% if manual_ordering %}
        <td class="manual-ordering-handle">
          <span class="far fa-grip-lines"></span>
        </td>
        {% endif %}
        {% for item in result %}
        {{ item }}
        {% endfor %}
      </tr>
      {% empty %}
      <tr><td colspan="{{ result_headers|length }}">Pas de résultats</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>
