{% if show %}
<ul class="nav nav-pills date-hierarchy">
  {% if back %}
  <li class="date-back active">
    <a href="{{ back.link }}">
      <span class="fa fa-chevron-left"></span>
      &nbsp; {{ back.title }}
    </a>
  </li>
  {% endif %}
  {% for choice in choices %}
  <li{% if not choice.link %} class="disabled"{% endif %}>
    <a href="{{ choice.link|default:"javascript:;" }}">
      {{ choice.title }}
    </a>
  </li>
  {% endfor %}
</ul>
{% endif %}
