{% extends "admin/base.html" %}
{% load i18n admin_urls %}


{% block page_title %}{{ title }}{% endblock %}

{% block breadcrumbs %}
{% if not is_popup %}
<div class="title-bar-breadcrumb">
  {% url opts|admin_urlname:'change' object.pk|admin_urlquote as change_url %}
  <a href="{% add_preserved_filters change_url %}">{{ object|truncatechars:"15" }}</a>
</div>
{% endif %}
{% endblock %}

{% block content %}
<div class="panel">
  <div class="panel-body">
  {% if perms_lacking or protected %}
  {% if perms_lacking %}
  <p>{% blocktrans with escaped_object=object %}Deleting the {{ object_name }} '{{ escaped_object }}' would result in deleting related objects, but your account doesn't have permission to delete the following types of objects:{% endblocktrans %}</p>
  <ul>
    {% for obj in perms_lacking %}
    <li>{{ obj }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if protected %}
  <p>{% blocktrans with escaped_object=object %}Deleting the {{ object_name }} '{{ escaped_object }}' would require deleting the following protected related objects:{% endblocktrans %}</p>
  <ul>
    {% for obj in protected %}
    <li>{{ obj }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% else %}
  <p>{% blocktrans with escaped_object=object %}Are you sure you want to delete the {{ object_name }} "{{ escaped_object }}"? All of the following related items will be deleted:{% endblocktrans %}</p>
  {% include "admin/includes/object_delete_summary.html" %}
  <h2>{% trans "Objects" %}</h2>
  <ul>{{ deleted_objects|unordered_list }}</ul>
  <form action="{% add_preserved_filters request.path %}" method="post">{% csrf_token %}
    <div>
      <input type="hidden" name="post" value="yes" />
      {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1" />{% endif %}
      {% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}" />{% endif %}
      <br>
      <div class="clearfix">
        <input type="submit" class="btn btn-danger" value="{% trans "Yes, I'm sure" %}" />
      </div>
    </div>
  </form>
  {% endif %}
  </div>
</div>
{% endblock %}
