{% extends "admin/base.html" %}
{% load i18n l10n admin_urls %}

{% block main-body %}
{% if perms_lacking or protected %}
{% if perms_lacking %}
<p>{% blocktrans %}Deleting the selected {{ objects_name }} would result in deleting related objects, but your account doesn't have permission to delete the following types of objects:{% endblocktrans %}</p>
<ul>
  {% for obj in perms_lacking %}
  <li>{{ obj }}</li>
  {% endfor %}
</ul>
{% endif %}
{% if protected %}
<p>{% blocktrans %}Deleting the selected {{ objects_name }} would require deleting the following protected related objects:{% endblocktrans %}</p>
<ul>
  {% for obj in protected %}
  <li>{{ obj }}</li>
  {% endfor %}
</ul>
{% endif %}
{% else %}
<p>{% blocktrans %}Are you sure you want to delete the selected {{ objects_name }}? All of the following objects and their related items will be deleted:{% endblocktrans %}</p>
{% include "admin/includes/object_delete_summary.html" %}
<h2>{% trans "Objects" %}</h2>
{% for deletable_object in deletable_objects %}
<ul>{{ deletable_object|unordered_list }}</ul>
{% endfor %}
<form action="{{ request.get_full_path }}" method="post">{% csrf_token %}
  <div>
    {% for obj in queryset %}
    <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}" />
    {% endfor %}
    <input type="hidden" name="action" value="delete_selected" />
    <input type="hidden" name="post" value="yes" />
    <div class="d-flex">
      <div class="flex-fill">
      </div>
      <div>
      <input type="submit" class="btn btn-danger" value="{% trans "Yes, I'm sure" %}" />
      <div>
    </div>
  </div>
</form>
{% endif %}
{% endblock %}
