{% extends "admin/base.html" %}
{% load i18n log %}

{% block main-body %}
<div class="main-body">
  <h1 class="title">{% block page_title %}Tableau de bord{% endblock %}</h1>

  {% block messages %}
  {% include "admin/includes/messages.html" %}
  {% endblock %}

  <div class="row">
    <div class="col-sm-8">

      {% if perms.admin.logentry_change %}
      <div class="panel panel-simple">
        <div class="panel-heading">
          <div class="panel-title">
            Activité récente
          </div>
        </div>
        {% get_admin_log 15 as admin_log %}
        <div class="list-group">
          <div class="timeline">
            {% include "admin/admin/logentry/includes/timeline.html"  %}
          </div>
          <a bind="load-more" class="list-group-item text-center" data-href="{% url "admin:admin_logentry_load_more" page=2 %}">
            Charger plus d'activités
          </a>
          <script>
            $('[bind="load-more"]').on('click', function(){
              var $a = $(this);
              var $timeline = $('.timeline');

              $.get($a.data('href'), function(data){
                $timeline.append(data.html);
                $a.data('href', $a.data('href').replace(/(\d+)$/, function(m){
                  return parseInt(m, 10) + 1;
                }));
              });
            });
          </script>
        </div>
      </div>
      {% endif %}

    </div>
    <div class="col-sm-4">

    </div>
  </div>
</div>
{% endblock %}
