{% extends "admin/base.html" %}
{% load i18n admin_urls %}

{% block title %}{% trans 'History' %}{% endblock %}

{% block page_title %}{% trans 'History' %}{% endblock %}

{% block breadcrumbs %}
<div class="title-bar-breadcrumb">
  {% url opts|admin_urlname:'change' object.pk|admin_urlquote as change_url %}
  <a href="{% add_preserved_filters change_url %}">{{ object|truncatechars:"15" }}</a>
</div>
{% endblock %}

{% block content %}
<div class="panel">
  <div class="panel-body">

    {% if action_list %}
    <table class="table" id="change-history">
      <thead>
        <tr>
          <th scope="col">{% trans 'Date/time' %}</th>
          <th scope="col">{% trans 'User' %}</th>
          <th scope="col">{% trans 'Action' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for action in action_list %}
        <tr>
          <th scope="row">{{ action.action_time|date:"DATETIME_FORMAT" }}</th>
          <td>{{ action.user.get_username }}{% if action.user.get_full_name %} ({{ action.user.get_full_name }}){% endif %}</td>
          <td>{{ action.get_change_message }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>{% trans "This object doesn't have a change history. It probably wasn't added via this admin site." %}</p>
    {% endif %}
  </div>
</div>
{% endblock %}

