{% load pixel9_admin_list %}
{% load i18n %}
{% if pagination_required %}
<ul class="pagination">
  {% for i in page_range %}
  <li>
  {% paginator_number cl i %}
  </li>
  {% endfor %}
</ul>

<div class="result-count">
  {% paginator_info cl %}
   /
  {{ cl.result_count }}
  {% if cl.result_count == 1 %}
  {{ cl.opts.verbose_name }}
  {% else %}
  {{ cl.opts.verbose_name_plural }}
  {% endif %}

  {% if show_all_url %}
  &nbsp;&nbsp;<a href="{{ show_all_url }}" class="btn btn-plain">{% trans 'Show all' %}</a>
  {% endif %}
</div>
{% else %}
<div class="result-count">
  {{ cl.result_count }}
  {% if cl.result_count == 1 %}
  {{ cl.opts.verbose_name }}
  {% else %}
  {{ cl.opts.verbose_name_plural }}
  {% endif %}
</div>
{% endif %}

