{% load i18n admin_urls %}

{% if is_bottom %}
{% if show_delete_link %}
{% if adminform.model_admin.is_related_model_admin %}
{% url opts|admin_urlname:'related_delete' object_id=original.pk|admin_urlquote related_id=related.id|admin_urlquote as delete_url %}
{% else %}
{% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
{% endif %}
<a href="{% add_preserved_filters delete_url %}" style="margin-right:5px" class="pull-left btn btn-outline-danger save-before">{% trans "Delete" %}</a>
{% endif %}
{% endif %}

{% if not is_popup and show_save %}
{% if show_save_as_new %}
<button type="submit" class="btn btn-default" name="_saveasnew">{% trans "Save as new" %}</button>
{% endif %}
<button type="submit" name="_continue" class="btn btn-default change-form-submit">{% trans "Save" %}</button>
{% endif %}
{% if is_popup and show_save %}
<button type="submit" name="_continue" class="btn btn-default change-form-submit">{% trans "Save" %}</button>
{% endif %}
