{% load i18n %}

{% for entry in admin_log %}
<div class="list-group-item timeline-item">
  <time class="pull-right">{{ entry.action_time|date:"SHORT_DATETIME_FORMAT" }}</time>
  <strong>{{ entry.user.first_name|default:entry.user.email }}</strong>
  ·
  {% if entry.is_addition %}
  Ajouté
  {% elif entry.is_change %}
  {{ entry.get_change_message }}
  {% elif entry.is_deletion %}
  Effacé
  {% endif %}
  {% if entry.content_type %}
  {% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}
  {% else %}
  {% trans 'Unknown content' %}
  {% endif %}
  ·
  {% if entry.is_deletion or not entry.get_admin_url %}
  {{ entry.object_repr }}
  {% else %}
  <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
  {% endif %}
</div>
{% endfor %}
