{% load static i18n bootstrap3 %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="NONE,NOARCHIVE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Admin {{ DOMAIN }}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "admin/main.css" %}">
    <style>
      body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
          -webkit-box-align: center;
             -ms-flex-align: center;
                align-items: center;
        -webkit-justify-content: center;
               -webkit-box-pack: center;
                  -ms-flex-pack: center;
                justify-content: center;
        /* height is needed for IE10-11 for this bug
        // http://bit.ly/16b1Xhx */
        height: 500px;
        /* other browsers use min-height */
        @supports not (-ms-flex: 1) {
          height: auto;
          min-height: 500px;
        }
        background-image:   -moz-radial-gradient(center, ellipse cover, #FFF 0%, #CCC 100%);
        background-image:   -webkit-radial-gradient(center, ellipse cover, #FFF 0%, #CCC 100%);
        background-image:   -o-radial-gradient(center, ellipse cover, #FFF 0%, #CCC 100%);
        background-image:   -ms-radial-gradient(center, ellipse cover, #FFF 0%, #CCC 100%);
        background-image:   radial-gradient(center, ellipse cover, #FFF 0%, #CCC 100%);
      }
      main {
        width:320px;
        padding:15px;
        height:500px;
      }
      h1 {
        font-size:28px;
      }
      .help-block {
        color:#BB0000;
      }
    </style>
  </head>
  <body>
    {% include "admin/includes/messages.html" %}
    <main>
      <h1>Admin &nbsp;<small>{{ current_site }}</small></h1>
      <br>
      <br>
      <form novalidate action="" id="login-form" method="POST">
        {% csrf_token %}
        {% bootstrap_form form size="lg" %}
        <input type="hidden" name="next" value="{{ next }}" />
        <button class="btn btn-primary btn-block btn-lg" type="submit">
          {% trans "Connexion" %}
        </button>
      </form>
      <script>
        var email = localStorage.getItem('last_login_email'),
        form = document.getElementById('login-form'),
        input = document.getElementById('id_email');

        if (email && ! input.value) {
          input.value = email;
          window.document.forms[0].elements[2].focus();
        } else {
          window.document.forms[0].elements[1].focus();
        }

        form.onsubmit = function(){
          localStorage.setItem('last_login_email', input.value);
        };
      </script>
    </main>
  </body>
</html>

