{% extends "admin/base.html" %}
{% load i18n %}

{% block content %}
<main class="main-body">
<h1>{% trans 'Password change successful' %}</h1>

<p>{% trans 'Your password was changed.' %}</p>
</main>
{% endblock %}

