{% extends "admin/base.html" %}
{% load i18n bootstrap3 %}

{% block content %}
<div class="panel">
  <div class="panel-body">

    <div class="row">
      <div class="col-sm-8 col-md-6">

        <main class="main-body">

          <form action="" method="post">
            {% csrf_token %}
            <div>
              {% if form.errors %}
              <p class="errornote">
                {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
              </p>
              {% endif %}

              <h1>{% trans 'Password change' %}</h1>

              <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

              <fieldset>
                {% bootstrap_form form %}
              </fieldset>

              <div class="submit-row">
                <input class="btn btn-primary" type="submit" value="{% trans 'Change my password' %}">
              </div>

              <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
            </div>
          </form>
        </main>

      </div>
    </div>

  </div>
</div>

{% endblock %}

