{% extends "admin/change_form.html" %}
{% load pixel9_admin_urls %}

{% block field_sets %}
<a href="{% url "admin:index" %}">Index</a>
<a href="{% url "admin:tests_simple_changelist" %}">List</a>
<ul class="nav nav-tabs">
  <li class="active">
    <a data-target=".tab-pane-1" data-toggle="tab">Test1</a>
  </li>
  <li>
    <a data-target=".tab-pane-2" data-toggle="tab">Test2</a>
  </li>
</ul>
<div class="tab-content">
  {% for fieldset in adminform %}
  <div class="tab-pane tab-pane-{{ forloop.counter }}{% if forloop.first %} active{% endif %}">
  {% include "admin/includes/fieldset.html" %}
</div>
  {% endfor %}
</div>
{% endblock %}
