{% load i18n %}
<form method="GET" class="search-form" action="{% url "search" %}">
  <input class="search-input" type="text" name="q" value="{{ request.GET.q }}" placeholder="{% trans "Rechercher" %}">
  <input class="btn search-btn" type="submit" value="{% trans "Rechercher" %}">
</form>
