{% extends "base.html" %}
{% load i18n %}

{% block content %}
{{ block.super }}

{% if query %}
{% for result in page.object_list %}
<p>
<a href="{{ result.object.url }}">{{ result.object.name }}</a>
</p>
{% empty %}
<p>{% trans "Aucun résultats" %}</p>
{% endfor %}

{% if page.has_previous or page.has_next %}
<div>
  {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; {% trans "Précédent" %}Previous{% if page.has_previous %}</a>{% endif %}
  |
  {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}{% trans "Suivant" %} &raquo;{% if page.has_next %}</a>{% endif %}
</div>
{% endif %}
{% endif %}
{% endblock %}

