{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h1>{{ page.title }}</h1>
<form action="" method="POST">
  {% include "forms/form.html" %}
  <fieldset>
    <input class="btn btn-primary" type="submit" value="{% trans "Utiliser cette adresse" %}"/>
  </fieldset>
</form>
{% endblock %}
