{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h1>{{ page.title }}</h1>
{% if page.get_content %}
{{ page.get_content|safe }}
{% else %}
<p>
  {% blocktrans %}
   Afin de s'assurer que vous êtes le propriétaire de l'adresse courriel que vous nous avez fournie, nous devons la confirmer avec vous.
  {% endblocktrans %}
</p>
{% endif %}

<form action="" method="POST">{% csrf_token %}
  <fieldset>
    <input type="hidden" name="next" value="{{ next }}">
    <input type="submit" class="btn btn-default" value="{% trans "Envoyer un message de confirmation" %}"></a>
</fieldset>
</form>
<p>
  {% trans "Votre adresse courriel :" %} <strong>{{ request.user.email }}</strong> - <a href="{% url "confirmation_change_email_address" %}?next={{ next|urlencode }}">{% trans "Utiliser une autre adresse" %}</a>
</p>
{% endblock %}
