{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h1>{% trans "Adresse confirmé" %}</h1>
{% if key.confirmed %}
<p>{% trans "Merci, votre adresse courriel est maintenant confirmé." %}</p>
{% else %}
<p>{% trans "Impossible de valider votre adresse courriel." %}</p>
{% endif %}
{% endblock %}
