{% load i18n %}
<html>
  <head></head>
  <body>
    <p>
      {% trans "Veuillez suivre le lien suivant afin de confirmer votre adresse courriel." %}
    </p>
    <a href="{{ confirm_url }}">{{ confirm_url }}</a>
  </body>

