// Alerts

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.alert {
  display: flex;
  align-items: flex-start;
  padding: @alert-padding;
  margin-bottom: 1rem;
  border-radius: @alert-border-radius;
  line-height: 1.4;
  animation: fadein 0.6s;
  background-color: @alert-default-bg;
  color: @alert-default-text;
  border-width: 1px;
  border-style: solid;
  border-color: fadeout(@alert-default-border, 75%);

  p {
    margin-bottom: 1rem;
  }
  a:not(.btn) {
    color: inherit;
    text-decoration: underline;
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
  .btn {
    .btn-sm;
  }
  .close {
    margin-top: -5px;
    margin-right: 4px;
    font-size: 26px;
    opacity: 0.55;
    text-shadow: none;
    color: @alert-default-border;
    &:hover,
    &:focus {
      opacity: 0.9;
    }
  }
}

.alert + .alert {
  margin-top: -0.5rem;
}

.alert-content {
  flex-grow: 1;
  &:has(p + .btn) {
    margin-bottom: -0.25rem;
  }
  > * {
    vertical-align: top;
  }
  .btn {
    margin-bottom: 3px;
    position: relative;
    top: -3px;
  }
}

.alert-variant(@background; @border; @text-color; @icon) {
  background-color: @background;
  color: @text-color;
  border-color: fadeout(@border, 85%);

  &:before {
    margin-top: -1px;
    font-family: "Font Awesome 5 Pro";
    font-weight: 400;
    font-size: 1.15rem;
    content: @icon;
    margin-right: 0.75rem;
    border-radius: 1000px;
    color: @text-color;
  }
  .close {
    color: @border;
  }
}

.alert-muted {
  .alert-variant(@alert-muted-bg, @alert-muted-border, @alert-muted-text, "");
}
.alert-info {
  .alert-variant(@alert-info-bg, @alert-info-border, @alert-info-text, @fa-var-info-circle);
}
.alert-success {
  .alert-variant(@alert-success-bg, @alert-success-border, @alert-success-text, @fa-var-check-circle);
}
.alert-warning {
  .alert-variant(@alert-warning-bg, @alert-warning-border, @alert-warning-text, @fa-var-exclamation-triangle);
}
.alert-danger,
.alert-error {
  .alert-variant(@alert-danger-bg, @alert-danger-border, @alert-danger-text, @fa-var-exclamation-circle);
}

.alert-sm {
  .small;
  padding: @alert-sm-padding;
  border-radius: @border-radius-small;

  &:before {
    font-size: 1rem;
    margin-right: 0.5rem;
  }
  .close {
    font-size: 22px;
  }
}

.alert-no-icon {
  &:before {
    content: "";
    margin: 0;
  }
}
