@keyframes pulsate {
    from { opacity:.3 }
    to   { opacity:1 }
}
.badge {
  display:inline-flex;
  align-items:center;
  vertical-align:middle;
  background-clip: padding-box;
  padding: 3px 10px;
  white-space: nowrap;
  font-size: 13px;
  line-height:@line-height-base;
  font-weight:normal;
  text-transform: initial;
  letter-spacing: initial;
  color: @text-color;
  border:2px solid rgba(255,255,255,.4);
  border-radius: @font-size-base;
  background-color: rgba(0,0,0,.07);
  a[href]& {
    &:hover,
    &:focus {
      background-color: rgba(0,0,0,.1);
      color: @text-color;
      text-decoration:none;
    }
  }
  &:before {
    content:'';
    background-color:#aaa;
    border-radius:100%;
    width:12px;
    height:12px;
    margin-top:0;
    margin-left:-3px;
    margin-right:5px;
  }
  &:empty {
    padding:3px 0;
    &:before {
      margin-left:3px;
      margin-right:3px;
    }
  }

  .form-group & {
    margin-top:2px;
    margin-bottom:2px;
  }
}

.badge-no-bg {
  background-color:transparent;
  border-color:transparent;
}

.badge-inline {
  margin-left: .1rem
}


.badge-variant(@color) {
  &:before {
    background-color:@color;
  }
}

.badge-muted {
  .badge-variant(#cfcfcf);
  color:@text-muted;
}

.badge-success {
  .badge-variant(@brand-success);
}

.badge-info {
  .badge-variant(@brand-info);
}

.badge-warning {
  .badge-variant(@brand-warning);
}

.badge-danger {
  .badge-variant(@brand-danger);
}


