// Core variables and mixins
@import "lib/bootstrap/less/variables.less";
@import "lib/bootstrap/less/mixins.less";

// Reset
@import "lib/bootstrap/less/normalize.less";
@import "lib/bootstrap/less/print.less";

// Core CSS
@import "lib/bootstrap/less/scaffolding.less";
@import "lib/bootstrap/less/type.less";
@import "lib/bootstrap/less/grid.less";

.table-row-variant(@state; @background) {
  // Exact selectors below required to override `.table-striped` and prevent
  // inheritance to nested tables.
  .table > thead > tr,
  .table > tbody > tr,
  .table > tfoot > tr {
    > td.@{state},
    > th.@{state},
    &.@{state} > td,
    &.@{state} > th {
      background-color: lighten(@background, 2%) !important;
      border-top-color: darken(@background, 2%);
      border-bottom-color: darken(@background, 2%);
    }
  }

  // Hover states for `.table-hover`
  // Note: this is not available for cells or rows within `thead` or `tfoot`.
  .table-hover > tbody > tr {
    > td.@{state}:hover,
    > th.@{state}:hover,
    &.@{state}:hover > td,
    &:hover > .@{state},
    &.@{state}:hover > th {
      background-color: darken(@background, 1%) !important;
      border-top-color: darken(@background, 5%);
      border-bottom-color: darken(@background, 5%);
    }
  }
}

@import "lib/bootstrap/less/tables.less";
@import "lib/bootstrap/less/forms.less";
@import "lib/bootstrap/less/buttons.less";

// Components
@import "lib/bootstrap/less/component-animations.less";
//@import "lib/bootstrap/less/glyphicons.less";
@import "lib/bootstrap/less/dropdowns.less";
@import "lib/bootstrap/less/button-groups.less";
@import "lib/bootstrap/less/input-groups.less";
@import "lib/bootstrap/less/navs.less";
@import "lib/bootstrap/less/navbar.less";
//@import "lib/bootstrap/less/breadcrumbs.less";
@import "lib/bootstrap/less/pagination.less";
//@import "lib/bootstrap/less/pager.less";
@import "lib/bootstrap/less/labels.less";
//@import "lib/bootstrap/less/badges.less";
//@import "lib/bootstrap/less/jumbotron.less";
@import "lib/bootstrap/less/thumbnails.less";
//@import "lib/bootstrap/less/alerts.less";
//@import "lib/bootstrap/less/progress-bars.less";
@import "lib/bootstrap/less/media.less";
@import "lib/bootstrap/less/list-group.less";
@import "lib/bootstrap/less/panels.less";
@import "lib/bootstrap/less/wells.less";
@import "lib/bootstrap/less/close.less";

// Components w/ JavaScript
@import "lib/bootstrap/less/modals.less";
@import "lib/bootstrap/less/tooltip.less";
@import "lib/bootstrap/less/popovers.less";
//@import "lib/bootstrap/less/carousel.less";

// Utility classes
@import "lib/bootstrap/less/utilities.less";
@import "lib/bootstrap/less/responsive-utilities.less";

@import "lib/font-awesome-pro/less/fontawesome.less";
@import "lib/font-awesome-pro/less/regular.less";
@import "lib/font-awesome-pro/less/light.less";
@fa-font-path: "/static/admin/lib/font-awesome-pro/webfonts";
// use font awesome regular style by default
.fa {
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
}

@import (less) "lib/bootstrap-datepicker/css/datepicker3.css";
@import (less) "lib/bootstrap-daterangepicker/daterangepicker.css";
@import (less) "lib/bootstrap-3-timepicker/css/bootstrap-timepicker.css";
@import (less) "lib/nprogress/nprogress.css";
@import (less) "lib/select2/dist/css/select2.css";

@import "material-design-icons.less";
@import "tables.less";
@import "arrows.less";
@import "typeahead.less";
@import "alerts.less";
@import "badges.less";
@import "mixins/forms.less";
@import "utilities/spacing.less";
@import "utilities/display.less";
@import "select2-bootstrap.less";
@import "print.less";

@font-family-base: // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue",
  Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";

@headings-font-family: @font-family-base;
@headings-font-weight: 400;

@border-radius-base: 5px;
@border-radius-small: 4px;
@border-radius-large: 6px;

@font-size-base: 14px;
@font-size-small: (@font-size-base * 0.9);

@box-shadow-base: 0 1px 4px rgba(43, 34, 51, 0.08);
@form-control-box-shadow: @box-shadow-base;
@btn-box-shadow: @box-shadow-base;
@list-group-box-shadow: @box-shadow-base;
@thead-box-shadow: 0 4px 5px -4px rgba(43, 34, 51, 0.06);

@s2bs-input-height-base: @input-height-base;
@s2bs-form-control-default-box-shadow: @form-control-box-shadow;
@s2bs-dropdown-box-shadow: 0 0 0 3px
  rgba(
    red(@input-border-focus),
    green(@input-border-focus),
    blue(@input-border-focus),
    0.35
  );
@s2bs-dropdown-box-shadow-above: 0 0 0 3px
  rgba(
    red(@input-border-focus),
    green(@input-border-focus),
    blue(@input-border-focus),
    0.35
  );
@s2bs-form-control-focus-box-shadow: 0 0 0 3px
  rgba(
    red(@input-border-focus),
    green(@input-border-focus),
    blue(@input-border-focus),
    0.35
  );

@cursor-disabled: not-allowed;

@text-color: #555;
@text-muted: #888;
@link-color: (@brand-primary - 15%);
@header-bg: #fff;

@active-color: #ddeef9;
@hover-color: (@link-color + 20%);

@btn-primary-color: #fff;
@btn-primary-bg: lighten(#78ad2f, 2%);

@btn-secondary-color: #fff;
@btn-secondary-bg: saturate(lighten(#428bca, 5%), 7%);
@btn-secondary-border: @btn-secondary-bg;

@disabled-bg: #f8f8f8;
@input-bg-disabled: @disabled-bg;
@input-disabled-bg: @disabled-bg;
@input-disabled-border-focus: #888;

@table-cell-padding: 10px;
@table-bg-hover: rgba(0, 0, 0, 0.03);
@table-bg-active: rgba(0, 0, 0, 0.06);

@nav-link-padding:8px 20px;

@nav-tabs-border-color: tranparent;
@nav-tabs-link-hover-border-color: transparent;
@nav-tabs-active-link-hover-border-color: transparent;

@sidebar-bg: #393939;
@sidebar-color: #ddd;
@sidebar-link-hover-bg: (@sidebar-bg - 8%);
@sidebar-width: 210px;
@sidebar-visibility-max-width: @screen-sm-max;

@header-height: 46px;

@grid-gutter-width: 20px;

@close-color: inherit;
@close-font-weight: inherit;

@input-max-width: 365px;
@input-color-placeholder: #bbb;

@bg-color: #eee;
@table-bg-accent: (@bg-color - 5%);
@table-border-color: #dfdfdf;

@section-padding: 1.5rem;

@panel-heading-padding: 17px 20px;
@panel-body-padding: 17px 20px;
@panel-title-color: @text-color - 20%;
@panel-simple-border: transparent;
@panel-simple-text: @text-color;
@panel-simple-heading-bg: #fff;
@panel-simple-title-color: @text-color - 20%;

@modal-inner-padding: @section-padding;
@modal-title-padding: @section-padding;
@modal-title-color: @panel-simple-title-color;

@modal-lg: 85%;
@modal-content-bg: @bg-color;
@modal-backdrop-opacity: 0.7;

@brand-info: #348cda;
@brand-success: #6aaf0d;
@brand-warning: #ebb006;
@brand-danger: #e35a4c;

@state-info-bg: fadeout(@brand-info, 85%);
@state-success-bg: fadeout(@brand-success, 85%);
@state-warning-bg: fadeout(@brand-warning, 85%);
@state-danger-bg: fadeout(@brand-danger, 85%);

@state-info-text: darken(@brand-info, 15%);
@state-success-text: darken(@brand-success, 15%);
@state-warning-text: darken(@brand-warning, 15%);
@state-danger-text: darken(@brand-danger, 15%);

@state-selected-bg: fadeout(@state-warning-bg, 8%);

@alert-padding: 1rem;
@alert-sm-padding: 0.65rem;
@alert-text-color: @text-color - 15%;
@alert-default-bg: rgba(0, 0, 0, 0.07);
@alert-default-border: lighten(@text-muted, 20%);
@alert-default-text: @text-color;

@alert-muted-bg: rgba(0, 0, 0, 0.05);
@alert-muted-border: @text-muted + 50%;
@alert-muted-text: @text-muted;

@alert-success-border: @brand-success;
@alert-success-text: @state-success-text;
@alert-warning-border: @brand-warning;
@alert-warning-text: @state-warning-text;
@alert-danger-border: @brand-danger;
@alert-danger-text: @state-danger-text;
@alert-info-border: @brand-info;
@alert-info-text: @state-info-text;

@btn-default-color: @text-color + 10%;

@icon-color: @text-muted;
@icon-color-light: @text-muted + 40%;

@list-group-selected-border: @component-active-bg;
@list-group-selected-bg: #f9f9f9;
@list-group-hover-bg: #f9f9f9;

.modal-dialog {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: @screen-sm-min) {
  .modal-dialog {
    width: 95%;
  }
}
@media (min-width: 500px) {
  .modal-sm {
    width: 80%;
  }
}
@media (min-width: @screen-sm-min) {
  .modal-dialog {
    width: 85%;
  }
  .modal-sm {
    width: 60%;
  }
  .modal-lg {
    width: @modal-lg;
  }
}
@media (min-width: @screen-md-min) {
  .modal-dialog {
    width: 65%;
  }
  .modal-sm {
    width: 50%;
  }
  .modal-lg {
    width: @modal-lg;
  }
}

@media (min-width: @screen-lg-min) {
  .modal-dialog {
    width: 50%;
  }
  .modal-sm {
    width: 35%;
  }
  .modal-lg {
    width: @modal-lg;
  }
}

html {
  font-size: @font-size-base;
}

// layout
body {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex: 1;

  > .sidebar {
    flex: 0 0 @sidebar-width;

    &.collapse {
      display: block !important; // don't hide change left property value
    }

    .sidebar-content {
      position: fixed;
      width: @sidebar-width;
      overflow-y: auto;
      top: 0;
      bottom: 0;
      padding-bottom: 50px;
      z-index: 3; // over .main-header
    }
  }

  > main {
    flex: 1;
  }
}

@media (max-width: @sidebar-visibility-max-width) {
  .wrapper {
    > .sidebar {
      position: fixed;
      overflow-y: auto;
      height: 100%;
      width: @sidebar-width;
      z-index: 600;
      transform: translateX(-@sidebar-width);
      transition: transform 0.2s;

      .sidebar-content {
        position: static;
      }

      &.in {
        transform: translateX(0);
        box-shadow: 1px 1px 5px #333;
      }
      &.in + .sidebar-toggle {
        transform: translateX(@sidebar-width);
        background-color: (@sidebar-bg - 20%);
        color: #ddd;
        border-bottom: none;
        &:hover,
        &:focus {
          color: #ddd;
        }
      }
    }
    > main {
      .main-header {
        display: block;
        height: @header-height;
      }
      .main-body {
        padding-top: 50px;
      }
    }
  }
}

html:not(.modal-open) {
  /* prevent slip.js error
     TypeError: 'null' is not an object (evaluating 'this.target.scrollContainer')
  */
  overflow-y: auto;
}

body {
  background-color: @bg-color;
}

.sidebar-toggle {
  width: @header-height;
  height: @header-height;
  background-color: @header-bg;
  color: @text-color;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3; // over .main-header
  text-align: center;
  display: none;
  vertical-align: middle;
  line-height: (@header-height - 2px);
  font-size: 17px;
  transform: translateX(0);
  transition: all 0.2s;

  &:hover,
  &:focus {
    color: @text-color;
    background-color: #eee;
  }

  &:before {
    .fa;
    content: @fa-var-bars;
  }

  @media (max-width: @sidebar-visibility-max-width) {
    display: inline-block;
  }
}

.sidebar {
  background-color: @sidebar-bg;
  padding-bottom: 20px;

  a {
    color: #ddd;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .separator {
    border-bottom: 1px solid (@sidebar-bg + 10%);
    border-top: 1px solid (@sidebar-bg - 10%);
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .sidebar-content {
    background-color: @sidebar-bg;

    & > header {
      border-bottom: 1px solid (@sidebar-bg - 10%);

      .title {
        display: block;
        padding: 15px 16px;
        background-color: (@sidebar-bg - 20%);

        &:hover,
        &:focus {
          background-color: (@sidebar-bg - 10%);
        }

        .favicon {
          display: inline-block;
          margin-top: -3px;
          height: 16px;
          width: 16px;
        }
      }

      .user {
        a {
          background-color: (@sidebar-bg - 10%);
        }
      }
    }
  }
}

.sidebar-nav {
  .nav-group {
    display: block;
    padding: 15px 25px 0 25px;
    color: (@sidebar-bg + 65%);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
  }

  li {
    a {
      background-color: @sidebar-bg;
      color: @sidebar-color;
      padding-left: 25px;
      &:hover,
      &:focus {
        color: @sidebar-color;
        text-decoration: none;
        background-color: @sidebar-link-hover-bg;
      }
    }

    &.active > a {
      &,
      &:hover,
      &:focus {
        color: #fff;
        background-color: @sidebar-link-hover-bg;
      }
    }
  }

  .open > a {
    &,
    &:hover,
    &:focus {
      background-color: @sidebar-link-hover-bg;
    }
  }

  > .dropdown > .dropdown-menu {
    position: relative;
    box-shadow: none;
    width: 100%;
    border: none;
    margin-bottom: 8px;

    a {
      padding-left: 35px;
      background-color: (@sidebar-bg - 10%);
      &:hover,
      &:focus {
        background-color: @sidebar-bg;
      }
    }
  }

  > .dropdown > a {
    padding-left: 20px;
  }

  > .dropdown > a:after {
    display: block;
    content: " ";
    position: relative;
    left: -10px;
    float: left;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #666;
    margin-top: 3px;
    margin-right: 0;
    transition: 0.2s transform;
  }
  > .dropdown.open > a:after {
    transform: rotate(90deg);
  }
}

.main-sidebar-nav {
  padding-top: (@line-height-computed / 2);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.95rem;
  font-weight: 500;
  color: (@text-color - 20%);
  > .badge {
    margin-left: 0.5rem;
  }
  > .badge + .badge {
    margin-left: 0.2rem;
  }
  > a {
    color: (@text-color - 20%);
  }
}

h2 {
  margin: 8px 0 13px 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;
}

.link,
a.link {
  color: @link-color;
}

.close {
  opacity: 0.4;
}

.btn {
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    .opacity(0.35);
  }
}

.btn-default,
.pagination a {
  background-color: #fff;
  box-shadow: @btn-box-shadow;

  &:hover,
  &:focus {
    box-shadow: none;
  }
}

.btn {
  transition: box-shadow 0.15s, background-color 0.15s, border-color 0.15s;
  white-space: normal;
}

.btn-bg(@color) {
  background-color: @color;
  border-color: @color - 25%;
  box-shadow: @btn-box-shadow;

  &:hover,
  &:focus {
    box-shadow: none;
  }
}

.btn-primary {
  .btn-bg(@btn-primary-bg);
}

.btn-secondary {
  .button-variant(@btn-secondary-color; @btn-secondary-bg; @btn-secondary-border);
  .btn-bg(@btn-secondary-bg);
}

.btn-info {
  .btn-bg(@btn-info-bg);
}

.btn-success {
  .btn-bg(@btn-success-bg);
}

.btn-warning {
  .btn-bg(@btn-warning-bg);
}

.btn-danger {
  .btn-bg(@btn-danger-bg);
}

.btn-link {
  padding: 0;
  font-size: @font-size-base;
  border: none;
  color: @link-color;
  text-decoration: none;
  vertical-align: initial;
  user-select: text;
  &:hover,
  &:active,
  &:active:focus,
  &:focus {
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
  }
}

.btn-plain {
  .btn;
  border: 1px solid transparent;
  background-color: transparent;
  &:hover,
  &:focus,
  &:active {
    border: 1px solid transparent;
    background-color: @bg-color + 5%;
  }
}

.icon-link {
  color: inherit;
}

.btn-outline(@color) {
  background-color: white;
  border-color: @color;
  color: (@color - 10%);
  transition: color 0.15s, background-color 0.15s, background-image 0.15s;
  box-shadow: @btn-box-shadow;
  &:hover,
  &:focus {
    color: #fff;
    background-color: @color;
    background-image: none;
    box-shadow: none;
  }
}

.btn-outline-default {
  .btn-outline(@btn-default-border);
  color: @text-color;
}

.btn-outline-primary {
  .btn-outline(@btn-primary-border);
}

.btn-outline-secondary {
  .btn-outline(@btn-secondary-border);
}

.btn-outline-success {
  .btn-outline(@btn-success-border);
}

.btn-outline-info {
  .btn-outline(@btn-secondary-border);
}

.btn-outline-warning {
  .btn-outline(@btn-warning-border);
}

.btn-outline-danger {
  .btn-outline(@btn-danger-border);
}

.main-header {
  display: flex;
  background-color: @header-bg;
  box-shadow: 0 1px 0 rgba(12, 13, 14, 0.1), 0 1px 3px rgba(12, 13, 14, 0.1),
    0 4px 20px rgba(12, 13, 14, 0.035), 0 1px 1px rgba(12, 13, 14, 0.025);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  background-color: #fff;
  z-index: 2;
}

.wrapper,
.main-panel {
  // fix .table-responsive not working
  // http://dfmcphee.com/2016/03/flex-items-and-min-width-0/
  min-width: 0;
}

.main-panel,
.modal-header,
.modal-body {
  padding-left: @section-padding;
  padding-right: @section-padding;
}
.main-panel {
  padding-top: 1rem;
}

@media (max-width: @screen-xs-min) {
  .panel {
    margin-left: -@section-padding;
    margin-right: -@section-padding;
    .panel {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.main-footer {
  &:extend(.clearfix all);
  margin-top: @line-height-computed;
  padding-top: @line-height-computed;
  margin-bottom: @line-height-computed;
  padding-bottom: @line-height-computed;

  .change-form-submit {
    float: right;
  }

  .main-footer-right {
    text-align: right;
  }
}

.modal .main-footer {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.title-bar {
  .title-bar-nav {
    display: flex;
    align-items: bottom;
    position: relative;
    margin-bottom: 1rem;

    .title-bar-nav-main {
      flex-grow: 1;
      align-self: flex-end;
    }
    .title-bar-breadcrumb {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      position: relative;
      left: -5px;
      color: @text-muted;
      margin-top: 16px; // same height with or without prev_next arrows
    }
    .title-bar-breadcrumb a {
      .subtle-btn;
      &:first-child:before {
        content: "\2039\00a0";
        color: (@text-muted + 35%);
        font-weight: bold;
        font-size: 1.35rem;
        line-height: 1;
        margin-top: -3px;
      }
    }
    .title-bar-breadcrumb a,
    .title-bar-breadcrumb span {
      position: relative;
      flex: 0 0 auto;
      display: flex;
      align-items: center;
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 0;
      padding-bottom: 0;
      margin: 1px 1rem 1px 0;
      border: 1px solid transparent;

      &:not(:last-child):after {
        content: "/";
        display: inline-block;
        position: absolute;
        right: -0.75rem;
        padding-left: 12px;
        font-weight: bold;
        color: (@text-muted + 65%);
      }
    }
  }

  .title-bar-main {
    display: flex;
    .title {
      flex-grow: 1;
      padding-right: 1rem;
      margin-bottom: 0.75rem;
      flex-basis: 50%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      &:empty {
        margin-bottom: 0;
      }
      .title-prefix {
        font-weight: 300;
        margin-right: 0.5rem;
        @media (max-width: @screen-xs) {
          display: none;
        }
      }
    }
    .title-bar-actions {
      text-align: right;
      flex-grow: 0;
      .btn {
        margin-top: -2px;
      }
    }
  }
}

.action-bar {
  display: flex;
  flex-wrap: wrap;
  /* smartphones, touchscreens */
  @media (hover: none) and (pointer: coarse) {
    overflow: auto;
    flex-wrap: nowrap;
    // hide scrollbar: https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    &::-webkit-scrollbar {
      /* WebKit */
      width: 0;
      height: 0;
    }
  }
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-bottom: 0.75rem;

  > .object-tools {
    margin-left: 0;
    padding-left: 0;
  }

  > .dropdown {
    display: inline-block;
  }

  > a,
  > button,
  > input,
  > .object-tools > a,
  > .object-tools > button,
  > .object-tools > input,
  .dropdown > a,
  .dropdown > button,
  .dropdown > input {
    .subtle-btn;
    .button-size(@padding-base-vertical; @padding-base-horizontal; @font-size-base; @line-height-base; @border-radius-base);
    white-space: nowrap;

    &.btn-primary {
      .btn-outline-primary;
      border: none;
      background: none;
      box-shadow: none;
    }
    &.btn-secondary {
      .btn-outline-secondary;
      border: none;
      background: none;
      box-shadow: none;
    }
    &.btn-danger {
      .btn-outline-danger;
      border: none;
      background: none;
      box-shadow: none;
    }
    &.btn-warning {
      .btn-outline-warning;
      border: none;
      background: none;
      box-shadow: none;
    }
    &.btn-success {
      .btn-outline-success;
      border: none;
      background: none;
      box-shadow: none;
    }
  }

  > [class~="btn-outline-primary"] {
    .btn-outline-primary;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  > [class~="btn-outline-success"] {
    .btn-outline-success;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  > [class~="btn-outline-danger"] {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  > [class~="btn-outline-warning"] {
    .btn-outline-warning;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  > [class~="btn-outline-info"] {
    .btn-outline-info;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  > [class~="btn-outline-default"] {
    .btn-outline-default;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

.action-bar-dropdown-menus {
  position: relative;
  // over .dropdown-backdrop otherwise it will prevent scrolling
  z-index: 991;
  .dropdown-menu {
    border: none;
    box-shadow: none;
    &.open {
      display: flex;
    }
    flex-wrap: wrap;
    /* smartphones, touchscreens */
    @media (hover: none) and (pointer: coarse) {
      overflow: auto;
      flex-wrap: nowrap;
      // hide scrollbar: https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* Internet Explorer 10+ */
      &::-webkit-scrollbar {
        /* WebKit */
        width: 0;
        height: 0;
      }
    }
    float: none;
    position: static;
    margin-bottom: 1rem;
    margin-top: -0.5rem;
    @media (max-width: @screen-xs) {
      margin-left: -(@grid-gutter-width / 2);
      margin-right: -(@grid-gutter-width / 2);
    }
  }
  .dropdown-menu > li > button {
    &:extend(.dropdown-menu > li > a all);
    width: 100%;
    text-align: left;
    border: none;
    background: none;
    box-shadow: none;
    color: @text-color;
  }
}

.table {
  thead {
    a {
      color: @text-color;
    }
    .text {
      display: inline-block;
    }
    .sortoptions {
      display: inline-block;
    }
    .sortremove {
      font-size: 18px;
      line-height: 14px;
      .text-muted;
      margin-left: 5px;
    }
    .caret {
      .text-muted;
      margin-top: -2px;
    }
    .caret.ascending {
      border-top: 0;
      border-bottom: @caret-width-base solid;
      content: "";
    }
  }

  .errorlist {
    list-style: none;
  }

  p {
    margin-bottom: 0;
  }

  select,
  .input-group,
  [type="text"],
  [type="email"],
  [type="url"],
  [type="number"] {
    min-width: 100px;
    max-width: 300px;
  }
  .select2 {
    min-width: 100px;
  }

  textarea {
    min-width: 250px;
  }

  > tbody > tr {
    > td,
    > th {
      font-weight: normal;
      vertical-align: middle;
    }
  }

  tr.selected td,
  tr.selected th {
    background-color: @state-selected-bg !important;
  }

  .action-checkbox-column {
    width: 50px;
  }
}

.tabular {
  min-width: 100%;
}

.changelist,
.sticky-table-wrapper,
.tabular-table-wrapper {
  min-width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;

  table {
    border-collapse: inherit;
    background-color: #fff;
    margin-bottom: 0.5rem;
  }
  table > tbody > tr:first-of-type > td,
  table > tbody > tr:first-of-type > th {
    border-top: none;
  }

  // assume over 1400px != ios, android
  @media (min-width: 1400px) {
    /* position: sticky is incompatible with overflow-x:auto; overflow-y:initial;
     https://github.com/w3c/csswg-drafts/issues/865
     also lots of buggy behavior in chrome android
      */
    overflow: visible;

    table > thead > tr > td,
    table > thead > tr > th {
      position: sticky;
      top: -1px;
      // over .input-group .select2-container--bootstrap
      // under .input-group .select2-container--open
      z-index: 3;
      background-color: #fff;
    }
  }
}

.tabular table {
  > tbody,
  > tbody > tr {
    &:focus {
      outline: none;
    }
    > td,
    > th {
      &.delete-link,
      &.manual-ordering-handle {
        text-align: center;
        vertical-align: middle;
      }
    }
  }
  > tbody > tr {
    > td,
    > th {
      &.manual-ordering-handle {
        width: 32px;
        min-width: 32px;
      }
    }
  }
  > tbody > tr {
    > td,
    > th {
      &.delete-link {
        width: 32px;
        min-width: 32px;
        color: @icon-color-light;
        label {
          font-size: 18px;
          margin-bottom: 0;
          &:hover {
            cursor: pointer;
            color: @hover-color;
          }
          input[type="checkbox"] {
            display: none;
          }
        }
      }
    }
  }
  .non-field-error {
    border-top: none;
  }
  .form-group {
    margin-bottom: 0;
  }
  tr:not(.has_original) td.original,
  tr:not(.has_original) th.original {
    width: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.input-group-inner {
  position: relative;

  .input-group-inner-addon {
    position: absolute;
    top: 0;
    padding: 9px 12px;
    pointer-events: none;
    color: @icon-color-light;
    z-index: 2;

    button&,
    &.btn {
      pointer-events: auto;
      line-height: 1;
      border: none;
      box-shadow: none;
      background: transparent;
    }
  }

  &.left-addon {
    .input-group-inner-addon {
      left: 0px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    input {
      padding-left: 30px;
    }
  }

  &.right-addon {
    .input-group-inner-addon {
      right: 0px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    input {
      padding-right: 30px;
    }
  }
}

.add-row {
  a {
    &:extend(.btn all);
    &:extend(.btn-default all);
    text-decoration: none !important;
  }
}

.table {
  > thead {
    > tr {
      > th {
        border-top: none;
        border-bottom: 1px solid (@table-border-color - 10%);
        font-weight: 500;
        box-shadow: @thead-box-shadow;
        // fix shadow: https://stackoverflow.com/questions/5115427/how-can-i-add-a-box-shadow-on-one-side-of-an-element
        &:last-of-type {
          border-right: none;
        }
      }
    }
  }
}

.table {
  > thead > tr > th,
  > tbody > tr > th,
  > tbody > tr > td {
    &.column-align-right {
      text-align: right;
      .form-control {
        float: right;
        text-align: right;
      }
    }
    &.column-align-left {
      text-align: left;
      .form-control {
        text-align: left;
      }
    }
    &.column-align-center {
      text-align: center;
      .form-control {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
    }
  }
}
.table-no-border {
  > tbody > tr > th,
  > tbody > tr > td {
    border-top: none;
  }
}

tr.to-delete {
  opacity: 0.5;
}

.changelist .manual-ordering-handle {
  width: 40px;
  background-color: @btn-secondary-bg !important;
  text-align: center;
  cursor: ns-resize;
  user-select: none;
  .fa,
  .far,
  .fas {
    color: rgba(255, 255, 255, 0.8);
  }
}

.tabular,
.changelist-table {
  thead {
    .column-info {
      display: inline;
    }
  }
}

.changelist-table {
  > tbody {
    > tr {
      > th,
      > td {
        color: @text-muted - 10%;
      }
    }
  }
}
.slip-swiping-container {
  overflow-x: hidden;
}

.slip-reordering {
  position: relative;
  background-color: #eee;
  opacity: 1;
  > td {
    border-right-color: #ddd !important;
  }
  &:focus {
    outline: 0;
  }
}

.inline-group .manual-ordering-handle {
  cursor: ns-resize;
  user-select: none;
  text-align: center;
  .fa:before,
  .far:before {
    color: @icon-color-light;
  }
}
.inline-group .panel-heading .manual-ordering-handle {
  float: left;
  margin-left: 0;
  margin-right: 1.5rem;
}

.inline-group-stacked {
  .delete {
    float: right;
    .text-muted;
    label {
      font-weight: normal;
    }
  }
}
.inline-deletelink {
  font-size: 18px;
  line-height: 18px;
  color: @icon-color-light;
  display: inline-block;
  &:focus,
  &:hover {
    text-decoration: none;
    color: @hover-color;
  }

  .inline-group-stacked & {
    float: right;
  }
}

/* FORMS */
input[type="text"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  appearance: none;
}
textarea {
  max-height: 800px;
  resize: vertical;
}

.change-form-fieldset {
  .field-line {
    display: flex;
    .field {
      flex: 1 1 50%;
      padding-right: 1.5rem;
    }
  }
}

select {
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

label,
.control-label {
  font-weight: 500;
}

.readonly-field {
  .list-group {
    margin-bottom: 0;
  }
}

.readonly-contents,
.readonly-field-contents {
  padding: @padding-base-vertical @padding-base-horizontal;
  border: 1px solid @disabled-bg;
  background-color: @disabled-bg;
  border-radius: @border-radius-base;

  .list-group {
    margin-top: 6px;
    margin-bottom: 6px;
  }
}
.readonly-field-contents {
  max-width: @input-max-width;
  min-height: (@padding-base-vertical * 2) + @line-height-computed;
}

.success-icon {
  color: lighten(green, 7%);
}

.error-icon,
.danger-icon {
  color: lighten(desaturate(red, 30%), 5%);
}

.boolean {
  .fa;
  font-size: 15px;

  &.boolean-true {
    .success-icon;
    &:before {
      .far;
      content: @fa-var-check;
    }
  }
  &.boolean-false {
    .error-icon;
    &:before {
      .far;
      content: @fa-var-times;
    }
  }
}

.radio.form-control {
  border: none;
  background: none;
  box-shadow: none;
  height: auto;
  padding: 0;
  margin: 0;

  &:hover {
    background: none;
  }
}

.radio {
  margin-top: 0;
  margin-bottom: 0;
  max-width: @input-max-width;

  label {
    display: block;
    padding: 0.5rem 0.5rem 0.5rem 2.5rem;
    border-radius: 0;
    &:hover {
      background-color: #f7f7f7;
    }
  }
  + .radio {
    margin-top: 0;
    label {
      border-top: none;
    }
  }
  input[type="radio"] {
    margin-top: 3px;
  }
}

.radio-inline {
  display: block;
  padding-left: 0;
  margin-top: 0;

  .radio {
    display: inline-block;
    label {
      border-radius: @border-radius-base;
    }
  }

  label {
    display: inline-block;
    margin-right: 0;
    margin-bottom: 0;
  }
}

.radio-unstyled {
  .radio label {
    border: none;
    border-radius: 0;
    &:hover {
      background-color: transparent;
    }
  }
}

.checkbox {
  margin-bottom: 0;
  margin-top: 0;
  + .checkbox {
    margin-top: 10px;
  }
  input[type="checkbox"] {
    margin-top: 4px;
  }
}

.file-field,
.image-field {
  &:extend(.thumbnail all);
  padding: @padding-base-vertical @padding-base-horizontal;
  border: 1px solid @input-border;
  border-radius: @input-border-radius;
  .box-shadow(@form-control-box-shadow);
  margin-bottom: 0;

  a {
    word-wrap: break-word;
  }
}

.input-group {
  display: flex;
  .select2-container--bootstrap {
    display: block;
    &.select2-container--focus {
      z-index: 2; // under .tabular-table-wrapper sticky header
    }
    &.select2-container--open {
      z-index: 3; // over .tabular-table-wrapper sticky header
    }
  }
  .select2-container--bootstrap,
  .input-group-inner,
  .form-control {
    width: 100%;
  }
  .input-group-addon,
  .input-group-btn {
    width: auto;
  }
}

.input-group-addon,
.input-group-btn {
  width: auto;
}

.input-group-addon,
.input-group-btn,
.input-group .form-control {
  display: flex;
  align-items: center;
}
.related-widget-wrapper .input-group-btn {
  align-items: flex-start;
}

.input-group-btn:last-child .add-another {
  margin-left: 5px;
  border-radius: @border-radius-base;
}

// hide .add-another button for hidden and radio fields
[type="hidden"] + .input-group-btn,
.radio + .input-group-btn {
  display: none;
}

.form-control {
  height: auto;
  min-height: @input-height-base;
  box-shadow: @form-control-box-shadow;

  select& {
    height: @input-height-base;
  }

  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    background-color: @input-disabled-bg;
    &:focus {
      border-color: @input-disabled-border-focus;
      background-color: @input-disabled-bg;
      box-shadow: none;
    }
    &.select2-hidden-accessible + .select2-container,
    &.select2-hidden-accessible + .select2-container {
      pointer-events: none;
      touch-action: none;
      cursor: @cursor-disabled;

      .select2-selection {
        background-color: @input-disabled-bg;
      }
      .select2-selection__arrow,
      .select2-selection__clear {
        display: none;
      }
    }
  }
}

.change-form {
  .form-control,
  .file-field,
  .image-field,
  .input-group,
  .input-group-inner,
  .select2 {
    max-width: @input-max-width;
  }

  .full-width > .form-control,
  .full-width.form-control,
  .vLargeTextField,
  .select-multiple .related-widget-wrapper {
    max-width: 600px;
  }

  fieldset:first-of-type {
    padding-top: 0;
  }
}

.redactor_toolbar {
  box-shadow: 0 5px 8px -5px rgba(0, 0, 0, 0.15);
  text-align: left;

  li:nth-last-of-type(1),
  li:nth-last-of-type(2) {
    float: right;
  }
}

.redactor_box {
  max-width: 800px;
  padding: 0;

  iframe {
    border: 1px solid #ddd;
  }

  textarea.form-control {
    max-width: 800px;
    padding: 10px;
  }
}

.redactor_box_fullscreen {
  max-width: none;
  position: absolute;
  z-index: 701 !important;
  text-align: center;

  .redactor_editor,
  textarea {
    margin: 0 auto;
    text-align: left;
  }
}

#redactor_modal_overlay,
#redactor_modal,
.redactor_dropdown {
  z-index: 702 !important;
}
.redactor_dropdown {
  width: auto;
}

.redactor-link-tooltip a:hover,
.redactor-link-tooltip a:focus {
  background-color: transparent;
}

.redactor_toolbar li a.re-fullscreen.redactor_act,
.redactor_toolbar li a.re-html.redactor_act {
  outline: none;
  background-color: #1f78d8;
  color: #fff;
}
.redactor_toolbar li a.redactor_button_disabled:hover {
  color: #333;
}

.dropdown-menu {
  margin-top: -1px;
  .fa,
  .far {
    margin-right: 5px;
  }
}

// http://www.bootply.com/86684
.dropdown-submenu {
  position: relative;

  > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    margin-left: -1px;
    border-radius: @border-radius-base;
  }

  > a {
    padding-right: 30px !important;
  }

  > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #777;
    margin-top: 5px;
    margin-right: -20px;
  }

  &:hover > .dropdown-menu {
    display: block;
    > a:after {
      border-left-color: #ffffff;
    }
  }

  &.pull-left {
    float: none;
    > .dropdown-menu {
      left: -100%;
      margin-left: 10px;
      border-radius: @border-radius-base;
    }
  }
}

.dropdown-menu {
  padding-top: 0;
  padding-bottom: 0;

  > li > a,
  > li > .checkbox label,
  > li.dropdown-section {
    padding: 8px 13px;
  }
  > li > .checkbox {
    margin-left: 0px;
    label {
      display: block;
      padding-left: 33px;
    }
  }
}

.help-block {
  margin-bottom: 0;
  color: lighten(@gray-light, 15%);
  .small;
}

.help-block a {
  text-decoration: underline;
}

.form-group {
  .clearfix;
  margin-bottom: 1.5rem;
}

.alert {
  @media (max-width: @screen-xs) {
    .main-body & {
      margin-left: -(@grid-gutter-width / 2);
      margin-right: -(@grid-gutter-width / 2);
    }
  }
}
.errorlist {
  color: @state-danger-text;
  padding: 0;
  li {
    list-style: none;
    margin-bottom: 1rem;
  }
  & + .form-control {
    border-color: @state-danger-text;
  }
}
.alert {
  .errorlist {
    margin-bottom: 0;
    li {
      color: #fff;
      margin-bottom: 0;
    }
  }
}

// django-bootstrap3 readonly fields
//div.form-control {
//height:auto;
//padding:0;
//border:none;
//box-shadow:none;
//overflow:hidden;
//background-color:inherit;
//}
//

.datetime-field > div {
  display: inline-block;
  margin-right: 5px;
}

.date-field {
  width: 125px;
}
.time-field {
  width: 105px;
}
.datepicker {
  z-index: 1100; // over modals
}

// pagination
.pagination {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  > li > a {
    color: @text-color;
  }

  > li .this-page {
    &,
    &:hover,
    &:focus {
      z-index: 2;
      color: @pagination-active-color;
      background-color: @pagination-active-bg;
      border-color: @pagination-active-border;
      cursor: default;
    }
  }
}

.result-count {
  display: inline-block;
  vertical-align: middle;
  &:not(:first-child) {
    margin-left: (@grid-gutter-width / 2);
  }
}
.empty-form {
  display: none;
}

.display-choices {
  label {
    display: block;
    cursor: ns-resize;
    user-select: none;
  }
}

.actions {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  background-color: #fff;
  z-index: 1000;
  border-top: 1px solid #ccc;
  border-radius: 0;
  margin-bottom: 0;

  .panel-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
  }
  .form-control,
  .btn,
  .select2 {
    max-width: 200px;
    display: inline-block;
    width: auto;
    margin-bottom: 0.5rem;
  }
  .form-control {
    margin-right: 0.5rem;
  }

  .actions-count {
    display: inline-block;
    color: @text-muted;
    margin: 0 1rem 0.5rem 1rem;
    text-align: center;
    .small;
    .text-nowrap;
    span {
      display: block;
    }
  }
}

.filters .modal {
  .filter-fields {
    margin-bottom: 0.5rem;
  }
  .input-group-inner,
  .input-group,
  .form-control,
  .select2 {
    max-width: 300px;
    margin-bottom: 7px;
  }
}
.filter-spec {
  .clearfix;
}

.changelist-search-input {
  max-width: 400px;
  min-width: 100px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;

  [type="search"] {
    padding-right: 60px;
  }

  .has-input {
    .form-control-validation(@border-color: @input-border-focus);
    .form-control {
      .form-control-focus;
      background-color: desaturate(lighten(@state-info-bg, 5%), 10%);
    }
  }

  .close {
    z-index: 3;
    position: absolute;
    display: block;
    color: (@input-border-focus - 25%);
    opacity: 1;
    font-size: 23px;
    top: 0;
    right: 30px;
    padding: 3px 10px 8px 10px;
  }
}

.filter-selections {
  @border-color: desaturate(darken(@state-info-border, 10%), 25%);
  @border: 1px solid @border-color;
  &:extend(.clearfix all);

  .filter-tag {
    display: flex;
    float: left;
    color: #fff;
    margin-bottom: (@line-height-computed / 2);
    margin-right: 5px;

    .filter-tag-content {
      background-color: @btn-secondary-bg;
      padding: 5px 1rem;
      border-right: 1px solid #fff;
      border-top-left-radius: 1000px;
      border-bottom-left-radius: 1000px;
      .filter-tag-title {
        display: inline-block;
        margin-right: 3px;
      }
      .filter-tag-value {
        font-weight: 600;
      }
    }

    .close {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px 1rem 5px 10px;
      opacity: 1;
      text-shadow: none;
      color: #fff;
      background-color: @btn-secondary-bg;
      border-top-right-radius: 1000px;
      border-bottom-right-radius: 1000px;
      &:hover,
      &:focus {
        background-color: (@btn-secondary-bg + 15%);
      }
      > svg {
        fill: currentColor;
      }
    }
  }
}

.changelist-top {
  margin-bottom: (@line-height-computed / 2);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .btn-plain {
    color: @text-color;
  }
  .sort-btn {
    margin-right: 5px;
  }
  .changelist-top-left {
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-wrap: wrap;
    .filters {
      margin-right: 5px;
    }
  }
  .changelist-top-right {
    display: flex;
  }
  > .btn,
  > .form-control,
  > .select2 {
    margin-bottom: 5px;
    .text-nowrap;
  }
  .changelist-search-input {
    flex-grow: 1;
  }
}

.date-hierarchy {
  background-color: (@bg-color + 7%);
  margin-bottom: (@line-height-computed / 2);
  > li > a {
    color: @text-muted;
    border-radius: 0;
  }
}

.modal-content {
  border-radius: @border-radius-large;

  .modal-body {
    padding-top: 45px;
  }
  .modal-header + .modal-body {
    padding-top: 1.5rem;
  }
  .modal-body,
  .modal-header {
    position: relative;
    > .close {
      margin-top: 0 !important; //!important: bootbox sets this with js
      padding: 8px 1rem 11px 1rem;
      text-align: center;
      font-size: 28px;
      line-height: 28px;
      opacity: 1;
      color: @text-color;

      &:focus,
      &:hover {
        outline: none;
        color: @text-muted;
      }
    }
  }

  .modal-header {
    display: flex;
    align-items: center;
    height: @header-height;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: #fff;
    border-top-left-radius: @border-radius-large;
    border-top-right-radius: @border-radius-large;

    a {
      vertical-align: middle;
      color: @text-color;
      > .new-tab-icon {
        visibility: hidden;
        vertical-align: middle;
        font-size: 1rem;
        line-height: 0.8;
      }
      &:hover,
      &:focus {
        text-decoration: none;
        > .new-tab-icon {
          visibility: visible;
        }
      }
    }

    > .history {
      display: flex;
      position: relative;
      right: 0.5rem;
      padding-right: 0.25rem;

      a {
        cursor: pointer;
        font-size: 1.4rem;
        padding: 0.5rem;
        border-radius: 50%;
        &.disabled {
          opacity: 0.35;
        }
        &:hover:not(.disabled),
        &:focus:not(.disabled) {
          background-color: #eee;
        }
      }
    }

    > .modal-title {
      .text-overflow;
      flex: 1 1 auto;
      font-size: 15px;
      font-weight: 500;
      color: @modal-title-color;
    }

    > .close {
      flex: 0 1 auto;
      order: 3;
      position: relative;
      right: -10px;
    }
  }

  .modal-body {
    .main-header {
      display: none;
    }
  }
}

.modal.fade .modal-dialog,
.modal.in .modal-dialog {
  // disable bootstrap fade in animation
  transform: none;
}

.modal:not(.fade).in .modal-dialog {
  animation: modal-open 0.15s ease;
}

@keyframes modal-open {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.panel {
  box-shadow: none;
  //overflow-x:auto; // clips dropdowns
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
}

.panel-danger .panel-heading a {
  color: @panel-danger-text;
}
.panel-success .panel-heading a {
  color: @panel-success-text;
}
.panel-primary .panel-heading a {
  color: @panel-primary-text;
}
.panel-warning .panel-heading a {
  color: @panel-warning-text;
}

.panel.collapsable,
.inline-group [data-toggle="collapse"],
fieldset.collapsable [data-toggle="collapse"],
fieldset.collapse [data-toggle="collapse"] {
  color: @text-color;
  &:focus {
    outline: none;
  }
}

.panel.collapse,
.inline-group,
fieldset.collapsable,
fieldset.collapse {
  [data-toggle="collapse"] {
    display: block;
    padding: 13px 20px;
    margin: -13px -20px;
    text-decoration: none;
    &:hover,
    &:focus {
      background-color: #f9f9f9;
    }
  }
  .arrow {
    width: 1px;
    margin-right: 20px;
    .arrow(down, 3px, inherit, 5px, 1.5px);
    &:before,
    &:after {
      top: -10px;
    }
  }
}

.collapsed {
  .arrow {
    transform: rotate(-90deg) translateY(10px);
  }
}

// multiSelect
.ms-container {
  width: 100%;
  max-width: 650px;
  display: table;

  .ms-search-input {
    margin-bottom: -2px;
  }

  .ms-selectable,
  .ms-selection {
    width: 50%;
    display: table-cell;
    vertical-align: top;
  }
  .ms-list {
    position: relative;
    height: 280px;
    overflow-y: auto;
    padding: 0;
    background: @input-bg;
    border: 1px solid @input-border;
    border-radius: @border-radius-base;
    .box-shadow(inset 0 1px 1px rgba(0,0,0,0.075));

    .has-error & {
      border-color: @state-danger-text;
    }

    &.ms-focus {
      @color-rgba: rgba(
        red(@input-border-focus),
        green(@input-border-focus),
        blue(@input-border-focus),
        0.6
      );
      border-color: @input-border-focus;
      outline: 0;
      .box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px @{color-rgba}");
    }
  }

  .ms-selectable {
    padding-right: 3px;
  }

  .ms-selection {
    padding-left: 3px;
  }

  ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
  }

  .ms-optgroup-container {
    width: 100%;
  }

  .ms-optgroup-label {
    margin: 0;
    padding: 5px 0px 0px 5px;
    cursor: pointer;
    color: #999;
  }

  .ms-selectable li.ms-elem-selectable,
  .ms-selection li.ms-elem-selection {
    padding: 5px 13px;
  }

  .ms-selectable li.ms-hover,
  .ms-selection li.ms-hover {
    cursor: pointer;
    text-decoration: none;
    background-color: @dropdown-link-hover-bg;
  }

  .ms-selectable li.disabled,
  .ms-selection li.disabled {
    color: #aaa;
    cursor: not-allowed;
  }
}

.loading-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9900;
}
.loading-overlay-hidden {
  left: auto;
  transition: none;
}

#nprogress .bar {
  z-index: 9901; // over modals
  background: lighten(#29d, 20%);
}
#nprogress {
  .spinner {
    z-index: 9901; // over modals
    top: 14px;
    left: 170px;
    color: darken(#29d, 25%);
  }

  .spinner-icon {
    border-top-color: #ddd;
    border-left-color: #ddd;
  }

  @media (max-width: @sidebar-visibility-max-width) {
    .spinner {
      left: 15px;
      top: 55px;
    }
    .spinner-icon {
      border-top-color: #29d;
      border-left-color: #29d;
    }
  }
}

.list-group {
  box-shadow: @list-group-box-shadow;
  .list-group-item {
    > .badge {
      float: none;
    }
  }
}

.list-group-link {
  padding-right: 2.5rem;
  display: block;
  &:after {
    display: flex;
    align-items: center;
    height: 100%;
    font-family: "Font Awesome 5 Pro";
    font-size: 1.3rem;
    content: @fa-var-angle-right;
    color: rgba(125, 125, 125, 0.65);
    opacity: 0.75;
    position: absolute;
    right: 1rem;
    top: 0;
  }
}

.list-group-selector {
  .list-group-item {
    padding: 0;
    .list-group-hidden-content {
      display: none;
    }
    > .radio {
      margin: 0;
      max-width: none;
      > label {
        display: block;
        padding-left: 2.5rem;
        padding-right: 1.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        label {
          padding-left: 0;
        }
        .checkbox label,
        .radio label {
          padding-left: 20px;
        }
      }
    }
    > .close {
      position: absolute;
      z-index: 2;
      top: 0.75rem;
      right: 1.5rem;
    }
    &:hover {
      background-color: @list-group-hover-bg;
    }
  }
  .list-group-item-selected {
    box-shadow: 0 0 0 2px @list-group-selected-border;
    border-radius: @border-radius-base;
    position: relative;
    background-color: @list-group-selected-bg;
    z-index: 2;
    &:hover {
      background-color: @list-group-selected-bg;
    }
    .list-group-hidden-content {
      display: block;
    }
  }
}

.panel-title {
  font-size: 1.2rem;
  font-weight: 500;
  color: @text-color;
}

.panel {
  .panel-simple {
    box-shadow: none;
  }
  &.collapsable {
    > .panel-heading {
      padding: 13px 20px;
      > .panel-title {
        font-size: @font-size-base;
      }
    }
  }
}

.panel-flush {
  .panel-body {
    padding: 0;
  }
  .panel-heading {
    padding-bottom: 20px;
  }
}

.panel-simple {
  border: none;

  border-radius: @border-radius-base;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.035);
  border-width: 0;

  .panel-simple {
    box-shadow: none;
  }

  > .list-group {
    padding: 10px 0;
    box-shadow: none;
    .list-group-item {
      padding: 10px 20px;
    }
  }

  .panel-body + .panel-body {
    border-top: 1px solid @table-border-color;
  }
  .panel-body.muted {
    background-color: #f6f6f6;
  }
  .panel-body > .table-responsive > .table:last-child,
  .panel-body > .table:last-child {
    margin-bottom: 0;
  }
  .panel-section {
    padding: 0 17px 20px 17px;
  }

  > .panel-heading {
    border-bottom: none;
    padding-bottom: 0;
    > .panel-title {
      color: @panel-simple-title-color;
    }
  }

  > .panel-footer {
    background-color: transparent;
  }
}

.panel-outline-danger {
  border: 1px solid (@state-danger-text + 50%);
}

.panel-outline-success,
.panel-outline-primary {
  border: 1px solid (@state-success-text + 50%);
}

.panel-outline-secondary,
.panel-outline-info {
  border: 1px solid (@state-info-text + 50%);
}

.panel-outline-warning {
  border: 1px solid (@state-warning-text + 80%);
}

.tab-pane {
  border-top: none;
  background-color: #fff;
  margin-bottom: 18px;
  border-radius: @border-radius-base;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.035);

  &.panel-simple,
  > .panel-simple {
    border: none;
    padding: 0;
    box-shadow: none;
  }
}

.panel-group {
  margin-bottom: 0;
  > .panel {
    border: 1px solid #ddd;
    .panel .panel-body {
      padding: 0;
    }
    .panel-simple {
      border: none;
    }
    > .panel-heading {
      + .panel-collapse > .panel-body {
        border-top: none;
      }
    }
  }
}

.nav-tabs {
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  > li {
    display: inline-block;
    float: none;
    > a {
      color: @text-muted;
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
      border-bottom: none;
      &:hover,
      &:focus {
        background-color: (@bg-color - 8%);
      }
    }
    &.active > a {
      font-weight: 500;
    }
    &.has-error {
      margin-bottom: 0;
      > a,
      > a:hover,
      > a:focus {
        color: @state-danger-text;
        background-color: @state-danger-bg;
        border-bottom: none;
      }
    }
  }
}

.timeline {
  .panel {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .panel-body.collapse {
    background-color: #f5f5f5;
  }
  .table {
    background-color: #fff;
  }
  .list-group {
    box-shadow: none;
  }
  .list-group-item {
    border: none;
    background-color: transparent;
  }
  color: @text-muted;
  strong {
    color: @text-color;
  }
  time {
    color: (@text-muted + 50%);
    float: right;
    padding-left: 20px;
  }
}

.btn-link-muted {
  color: @icon-color-light;
}

.related-widget-wrapper {
  .form-control:first-child {
    border-top-right-radius: @input-border-radius;
    border-bottom-right-radius: @input-border-radius;
  }
  .overflow-btn {
    color: @icon-color-light;
    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

.dropdown-menu > li > a.related-widget-wrapper-link {
  color: @dropdown-link-disabled-color;
  background-color: #fff;
  &:focus,
  &:hover {
    background-color: transparent;
    cursor: not-allowed;
  }
}
.dropdown-menu > li > a.related-widget-wrapper-link:link {
  color: @dropdown-link-color;
  &:focus,
  &:hover {
    color: @dropdown-link-hover-color;
    background-color: @dropdown-link-hover-bg;
    cursor: pointer;
  }
}

.btn-default .fa:before {
  color: #777;
  vertical-align: baseline;
}

.prev-next {
  display: flex;
  align-items: flex-end;
  position: relative;
  right: -5px;
  a {
    .subtle-btn;
    font-size: 1.5rem;
    display: inline-block;
    padding: 0 5px;
    border-radius: 50%;
  }
}

.label-muted {
  .label-variant((@label-default-bg + 90%));
}

.table > tbody > tr.muted > td,
.table > tbody > tr.muted > th,
.table > tbody > tr.muted > td .boolean:before {
  background-color: #f9f9f9;
  color: #aaa;
}
.table > tbody > tr.muted > td a {
  color: desaturate(@link-color, 20%);
}
.table > tbody + tbody {
  border-top: none;
}

.select2-container--open {
  // clip box-shadow
  &.select2-container--below {
    .select2-selection {
      clip-path: inset(-50px -50px 0 -50px);
    }
  }
  &.select2-container--above {
    .select2-selection {
      clip-path: inset(0 -50px -50px -50px);
    }
  }
}
.select2-dropdown {
  // clip box-shadow
  &--below {
    clip-path: inset(0 -50px -50px -50px);
  }
  &--above {
    clip-path: inset(-50px -50px 0 -50px);
  }
}

.select2-dropdown--under {
  .select2-search--dropdown {
    padding-top: 0;
  }
}

.select2-container--bootstrap {
  &.select2-container--open {
    .select2-selection {
      position: relative;
      z-index: 100;
      transition: none;
    }
  }
  &.select2-container--open.select2-container--below {
    .select2-selection {
      box-shadow: @s2bs-form-control-focus-box-shadow !important;
    }
  }
  &.select2-container--open.select2-container--above {
    .select2-selection {
      box-shadow: @s2bs-form-control-focus-box-shadow !important;
    }
  }

  &.select2-container--focus,
  &.select2-container--open {
    .select2-selection__clear {
      &:after {
        color: (@input-border-focus - 25%);
      }
    }
  }
  .select2-selection--single {
    .select2-selection__arrow {
      padding-left: 14px;
      padding-right: 14px;
      border-top-right-radius: @border-radius-base;
      border-bottom-right-radius: @border-radius-base;
      bottom: 1px;
      top: 0;
      right: 1px;
      b {
        margin-left: 8px;
        right: 9px;
      }
    }
  }
  .select2-selection--multiple {
    .select2-selection__clear {
      display: none;
    }
  }
}

.select2-container--bootstrap .select2-results > .select2-results__options {
  max-height: 300px;
  min-height: 32px;
  word-break: break-word;
}

.select2-container--bootstrap .select2-selection--single {
  height: auto;
  min-height: @input-height-base;
}

.select2-search--dropdown {
  padding: @padding-base-vertical (@padding-base-horizontal / 2);
  .select2-search__field {
    padding: @padding-base-vertical @padding-base-horizontal;
  }
}

// select2 search input at the bottom when dropdown open above
.select2-dropdown--above {
  display: flex;
  flex-direction: column-reverse;
}

//select2: fixes word text wrap issues on long select values
li.select2-selection__choice {
  max-width: 100%;
  overflow: hidden;
  white-space: normal;
}
ul.select2-selection__rendered {
  padding-right: 12px !important; //overrides select2 style
}

.daterangepicker {
  .input-mini.active {
    border-width: 2px;
  }
  select {
    border-color: transparent;
  }
}
.daterangepicker select.monthselect,
.daterangepicker select.yearselect,
.daterangepicker select.hourselect,
.daterangepicker select.minuteselect,
.daterangepicker select.secondselect,
.daterangepicker select.ampmselect,
.daterangepicker .ranges li,
.daterangepicker .calendar-table th,
.daterangepicker .calendar-table td {
  font-size: 13px;
}

.bootbox-close {
  background-color: #fff;
  z-index: 2000;
}

table.table-grid {
  > tbody {
    border-top: 1px solid (@table-border-color + 15%);
    border-bottom: 1px solid (@table-border-color + 15%);
    &.empty-row-wrapper {
      border-bottom-color: transparent;
    }
  }
  > tbody > tr > td,
  > tbody > tr > th {
    border-top: 1px solid (@table-border-color + 15%);
    position: relative;
    padding: 0;
    .form-control,
    .select2-container--bootstrap .select2-selection {
      border-color: transparent;
      background-color: transparent;
      width: 100%;
      position: relative;
      &:focus {
        z-index: 10;
      }
      &:not(:focus) {
        box-shadow: none;
      }
      &[readonly],
      &[disabled] {
        background-color: @input-disabled-bg;
        cursor: text;
      }
    }
    .input-group-inner {
      &:focus-within {
        .input-group-inner-addon {
          z-index: 12;
        }
      }
      .input-group-inner-addon {
        padding-top: 11px;
        padding-bottom: 11px;
      }
    }
    .form-control,
    .select2-container--bootstrap .select2-selection--single,
    .readonly-field-contents,
    p {
      padding: 8px;
    }
    .select2-container--bootstrap .select2-selection--single {
      padding-top: 8px;
      padding-bottom: 8px;
    }
    .select2-container--bootstrap .select2-selection--multiple {
      .select2-search--inline .select2-search__field {
        height: @s2bs-input-height-base;
      }
      .select2-selection__choice {
        margin-top: 6px;
      }
    }
    .select2-container--bootstrap
      .select2-selection--single
      .select2-selection__arrow {
      display: none;
    }
    .select2-container--bootstrap .select2-selection__clear {
      margin-right: 0;
      margin-left: 4px;
      display: none;
    }
    .form-control:focus,
    .select2-container--open .select2-selection,
    .select2-container--focus .select2-selection {
      background-color: @input-bg;
      border-color: @input-border-focus;
      &[readonly],
      &[disabled] {
        background-color: @input-disabled-bg;
        border-color: @input-disabled-border-focus;
      }
      .select2-selection__clear {
        display: flex;
      }
    }
    .form-group.has-error {
      .form-control,
      .select2-container--bootstrap .select2-selection {
        border-color: @state-danger-text;
      }
    }
    .form-control,
    .input-group,
    .input-group-inner,
    .select2,
    .related-widget-wrapper {
      max-width: none;
    }
  }
  > tbody > tr:last-of-type > td {
    border-bottom: 1px solid (@table-border-color + 18%);
  }
  > tbody > tr > td.original {
    border-top: none;
  }
  > thead > tr > th.original {
    border-bottom: none;
  }
}

.subtle-btn {
  .btn;
  color: @text-color;
  background-color: transparent;
  box-shadow: none;

  &:hover,
  &:focus {
    color: @text-color;
    text-decoration: none;
    box-shadow: none;
    border-color: transparent;
    background-color: (@bg-color + 20%);
  }
  &.disabled,
  &[disabled] {
    opacity: 0.25;
    border-color: transparent;
    background-color: transparent;
    &:hover,
    &:focus {
      color: @text-muted;
      background-color: transparent;
    }
  }
}

.overflow-icon {
  padding: 5px;
  .material-icons;
  font-size: 22px;
  &:after {
    content: "more_vert";
  }
}
.overflow-btn {
  .subtle-btn;
  .overflow-icon;
}

.raw-id-field {
  display: flex;
  padding: 0;
  .raw-id-label {
    display: block;
    padding: 2px 4px;
    border-radius: 2px;
    margin: -2px;
  }
  .raw-id-field-icons {
    display: flex;
    padding: 2px 6px;
  }
  .link-label {
    flex-grow: 1;
    padding: @padding-base-vertical 0 @padding-base-vertical
      @padding-base-horizontal;
    min-width: 1%;
    overflow-wrap: break-word;
  }
  .related-lookup,
  .clear {
    pointer-events: initial;
    position: relative;
    height: (@input-height-base - 7px);
    padding: 7px;
    color: @icon-color-light;
    border-radius: @border-radius-base;
    &:hover,
    &:focus {
      text-decoration: none;
      background-color: #eee;
      color: (@input-border-focus - 25%);
    }
  }
  .clear {
    display: block;
    font-size: 18px;
    line-height: 14px;
  }
  &.raw-id-field-empty {
    .clear {
      display: none;
    }
  }
}

.input-group .raw-id-field,
.raw-id-field {
  align-items: flex-start;
}
