@import "lib/bootstrap/less/mixins/responsive-visibility.less";

@media print {
  .sidebar,
  .sidebar-toggle,
  .main-header {
    .responsive-invisibility();
  }

  title {
    display:block;
    font-size:20px;
  }
}
