.table {
  > tbody > tr > td,
  > tbody > tr > th {
    &[readonly],
    &[disabled],
    &.readonly,
    &.disabled {
      background-color:@input-bg-disabled;
      .readonly-field-contents {
        background-color: transparent;
      }
      input,
      select,
      .select2,
      .select2-selection {
        background-color:transparent !important;
      }
    }
  }
  > tbody > tr:hover {
    > td,
    > th {
      &[readonly],
      &[disabled],
      &.readonly,
      &.disabled {
        background-color: @table-bg-hover;
        .readonly-field-contents {
          background-color: transparent;
        }
      }
    }
  }
}
