.twitter-typeahead {
  display:block !important;
}
.twitter-typeahead .tt-menu {
  border-top:1px solid #eee;
  padding:5px 0;
  background-color:#FFF;
  line-height:1.9;
  width:100%;
  min-width:280px;
  box-shadow: 0 2px 2px rgba(0,0,0,.2);
  font-weight:600;
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
}

.tt-hint {
  color:#bbb;
}

.twitter-typeahead .tt-menu strong {
  font-weight:normal;
}

.twitter-typeahead .tt-menu .tt-suggestion {
  margin:0;
  padding:8px 12px;
  line-height:1.5;
  font-weight:normal;
}
.twitter-typeahead .tt-menu .tt-suggestion .tt-title {
  display:block;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}
.twitter-typeahead .tt-menu .tt-suggestion .tt-extra,
.twitter-typeahead .tt-menu .tt-suggestion .tt-type {
  font-weight:normal;
  font-size:.85em;
  color:#999;
}
.twitter-typeahead .tt-menu .tt-suggestion .tt-body {
  /* https://css-tricks.com/flexbox-truncated-text/ */
  min-width: 0;
  flex-grow:1;
}
.twitter-typeahead .tt-menu .tt-suggestion {
  display:flex;
  align-items:center;
}
.twitter-typeahead .tt-menu .tt-suggestion .tt-image {
  display:flex;
  align-items:center;
  justify-content:center;
  flex-shrink:0;
  width:55px;
  padding:2px 7px 0 2px;
}
.twitter-typeahead .tt-menu .tt-suggestion .tt-image img {
  max-width:100%;
  max-height:39px;
}

.twitter-typeahead .tt-menu .tt-cursor {
  background-color:#eee;
  cursor:pointer;
}
