{% extends "admin/base_site.html" %}
{% block content_title %}<h1>Are you sure?</h1>{% endblock %}

{% block content %}
<p>
  Are you sure you want to <b>{{ action|capfirst }}</b> the selected jobs from <a href="{% url 'admin:queues_jobs' queue_index %}" target="_blank">{{ queue.name }}</a>? These jobs are selected:
</p>
<ul>
  {% for job_id in job_ids %}
  <li><a href="{% url 'admin:queues_job_detail' queue_index job_id %}" target="_blank">{{ job_id }}</a></li>
  {% endfor %}
</ul>
<form action="{{ request.path }}" method="post">
  {% csrf_token %}
  <div>
    {% for job_id in job_ids %}
    <input type="hidden" name="job_ids" value="{{ job_id }}">
    {% endfor %}
    <input type="hidden" name="action" value="{{ action }}" />
    <input class="btn btn-danger" type="submit" value="Yes, I'm sure" />
  </div>
</form>
{% endblock %}
