{% extends "admin/base_site.html" %}

{% block content_title %}<h1>Are you sure?</h1>{% endblock %}

{% block content %}
{% include "admin/includes/messages.html" %}
<div id="content-main">
    <p>
        Are you sure you want to delete <a href="{% url 'admin:queues_job_detail' queue_index job.id %}">{{ job.id }}</a> from <a href = "{% url 'admin:queues_jobs' queue_index %}">{{ queue.name }}</a>?
        This action can not be undone.
    </p>
    <form action="" method="post">
        {% csrf_token %}
        <div>
            <input class="btn btn-danger" type="submit" value="Yes, I'm sure" />
        </div>
    </form>
</div>

{% endblock %}
