{% extends "admin/base_site.html" %}
{% load django_rq %}

{% block title %}Job Info{% endblock %}

{% block page_title %}Job Info{% endblock %}


{% block breadcrumbs %}
<a href="{% url "admin:queues_home" %}">Queues</a>
{% endblock %}

{% block actions %}
<a class="btn btn-danger" href="{% url "admin:queues_delete_job" queue_index job.id %}">Delete</a>
{% if job.is_failed %}
<form style="display:inline-block" method='POST' action="{% url 'admin:queues_requeue_job' queue_index job.id %}">
  {% csrf_token %}
  <button class="btn btn-secondary" type="submit" value="Requeue" name="requeue">Requeue</button>
</form>
{% endif %}
{% if not job.is_queued and not job.is_failed %}
<form style="display:inline-block" method='POST' action="{% url 'admin:queues_enqueue_job' queue_index job.id %}">
  {% csrf_token %}
  <button class="btn btn-secondary" type="submit" value="Requeue" name="requeue">Enqueue</button>
</form>
{% endif %}
{% endblock %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>Key</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>ID</th>
          <td>{{ job.id }}</td>
        </tr>

        <tr>
          <th>Queue</th>
          <td>{{ job.origin }}</td>
        </tr>

        <tr>
          <th>Timeout</th>
          <td>{{ job.timeout }}</td>
        </tr>

        <tr>
          <th>Result TTL</th>
          <td>{{ job.result_ttl }}</td>
        </tr>

        {% if job.created_at %}
        <tr>
          <th>Created</th>
          <td>{{ job.created_at|to_localtime }}</td>
        </tr>
        {% endif %}

        {% if job.enqueued_at %}
        <tr>
          <th>Queued</th>
          <td>{{ job.enqueued_at|to_localtime }}</td>
        </tr>
        {% endif %}

        {% if job.started_at %}
        <tr>
          <th>Started</th>
          <td>{{ job.started_at|to_localtime }}</td>
        </tr>
        {% endif %}

        {% if job.ended_at %}
        <tr>
          <th>Ended</th>
          <td>{{ job.ended_at|to_localtime }}</td>
        </tr>
        {% endif %}

        <tr>
          <th>Description</th>
          <td>{{ job.description }}</td>
        </tr>

        <tr>
          <th>Status</th>
          <td>
            {% if job.get_status %}
            {{ job.get_status }}
            {% else %}
            {{ job.status }}
            {% endif %}
          </td>
        </tr>

        <tr>
          <th>Callable:</th>
          <td>{{ job|show_func_name }}</td>
        </tr>

        <tr>
          <th>Meta:</th>
          <td>{{ job.meta }}</td>
        </tr>

        <tr>
          <th>Args</th>
          <td>
            {% if data_is_valid %}
            {% if job.args %}
            <ol>
              {% for arg in job.args %}
              <li>{{ arg }}</li>
              {% endfor %}
            </ol>
            {% endif %}
            {% else %}
                Unpickling Error
            {% endif %}
          </td>
        </tr>

        <tr>
          <th>Kwargs</th>
          <td>
            {% if data_is_valid %}
            {% if job.kwargs %}
            <ul>
              {% for key, value in job.kwargs.items %}
              <li>{{ key }}: {{ value|escape }}</li>
              {% endfor %}
            </ul>
            {% endif %}
            {% else %}
                Unpickling Error
            {% endif %}
          </td>
        </tr>

        <tr>
          <th>Depends On:</th>
          <td>
            {% if dependency_id %}
            <a href="{% url 'admin:queues_job_detail' queue_index dependency_id %}">
              {{ dependency_id }}
            </a>
            {% endif %}
          </td>
        </tr>

        <tr>
          <th>Exception</th>
          <td>{% if job.exc_info %}<pre>{{ job.exc_info|linebreaks }}</pre>{% endif %}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
