{% extends "admin/base.html" %}
{% load pixel9_admin_list django_rq %}

{% block title %}{{ job_status }} jobs in {{ queue.name }}{% endblock %}
{% block page_title %}{{ job_status }} jobs in {{ queue.name }}{% endblock %}

{% block breadcrumbs %}
<a href="{% url "admin:queues_home" %}">Queues</a>
{% endblock %}

{% block actions %}
{% if job_status == 'Failed' %}
<a class="btn btn-secondary" href="{% url 'admin:queues_requeue_all' queue_index %}">Requeue All</a>
{% endif %}
<a class="btn btn-danger" href="{% url 'admin:queues_clear' queue_index %}" class="deletelink">Empty Queue</a>
{% endblock %}

{% block content %}
<form id="changelist-form" action="{% url 'admin:queues_actions' queue_index %}" method="post">
  {% csrf_token %}
  <div class="actions panel hidden">
    <div class="panel-body">
      <label>Actions:
        <select class="form-control" name="action">
          <option value="" selected="selected">---------</option>
          <option value="delete">Delete</option>
          {% if queue.name == 'failed' %}
          <option value="requeue">Requeue</option>
          {% endif %}
        </select>
      </label>
      <button type="submit" class="btn btn-default" title="Execute selected action" name="index" value="0">Go</button>
    </div>
  </div>


  <div class="panel">
    <div class="panel-body">

      <table class="table" id="result_list">
        <thead>
          <tr>
            <th scope="col" class="action-checkbox-column">
              <div class="text">
                <span><input type="checkbox" id="action-toggle" style="display: inline-block;"></span>
              </div>
              <div class="clear"></div>
            </th>
            <th>ID</th>
            <th>Created</th>
            {% if job_status == 'Scheduled' %}
            <th>Scheduled</th>
            {% endif %}
            <th>Enqueued</th>
            <th>Status</th>
            <th>Callable</th>
          </tr>
        </thead>
        <tbody>
          {% for job in jobs %}
          <tr>
            <td class="action-checkbox">
              <input class="action-select" name="_selected_action" type="checkbox" value="{{ job.id }}">
            </td>
            <th>
              <a href="{% url 'admin:queues_job_detail' queue_index job.id %}">
                {{ job.description|default:job.id }}
              </a>
            </th>
            <td>
              {% if job.created_at %}
              {{ job.created_at|to_localtime }}
              {% endif %}
            </td>
            {% if job_status == 'Scheduled' %}
            <td>
              {% if job.scheduled_at %}
              {{ job.scheduled_at|to_localtime }}
              {% endif %}
            </td>
            {% endif %}
            <td>
              {% if job.enqueued_at %}
              {{ job.enqueued_at|to_localtime }}
              {% endif %}
            </td>
            <td>
              {% if job.get_status %}
              {{ job.get_status }}
              {% else %}
              {{ job.status }}
              {% endif %}
            </td>
            <td>{{ job.func_name }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <ul class="pagination">
    {% for p in page_range %}
    {% if p == page %}
    <li><span class="this-page">{{ p }}</span></li>
    {% else %}
    <li><a href="?page={{ p }}">{{ p }}</a></li>
    {% endif %}
    {% endfor %}
  </ul>
  <div class="result-count">
    {{ num_jobs }} jobs
  </div>
</form>
<script>
  _actions_icnt = 100;
  $("tr input.action-select").actions();

  var $actions = $('.actions');
  var $actionsCheckboxes = $('[name="_selected_action"], .action-checkbox-column [type="checkbox"]');
  $actionsCheckboxes.on('change', function(){
    setTimeout(function() {
      if ($actionsCheckboxes.filter(':checked').length) {
        $actions.removeClass('hidden');
      } else {
        $actions.addClass('hidden');
      }
    }, 20);
  });
</script>
{% endblock %}
