{% extends "admin/base_site.html" %}

{% block title %}Are you sure?{% endblock %}

{% block page_title %}Are you sure?{% endblock %}

{% block content %}
<p>
  Are you sure you want to requeue {{ total_jobs }} job{{ total_jobs|pluralize }} in the <a href = "{% url 'admin:queues_jobs' queue_index %}">{{ queue.name }}</a> queue?
  This action can not be undone.
</p>
<form action="" method="post">
  {% csrf_token %}
  <div>
    <input class="btn btn-primary" type="submit" value="Yes, I'm sure" />
  </div>
</form>
{% endblock %}
