{% extends "admin/base.html" %}

{% block title %}Queues{% endblock %}

{% block page_title %}Queues{% endblock %}

{% block content %}
<div class="panel">
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Queued Jobs</th>
          <th>Oldest Queued Job</th>
          <th>Active Jobs</th>
          <th>Deferred Jobs</th>
          <th>Finished Jobs</th>
          <th>Failed Jobs</th>
          <th>Scheduled Jobs</th>
          <th>RQ Scheduler Jobs</th>
          <th>Workers</th>
          <th>Host</th>
          <th>Port</th>
          <th>DB</th>
        </tr>
      </thead>
      <tbody>
        {% for queue in queues %}
        <tr>
          <th>
            <a href="{% url 'admin:queues_jobs' queue.index %}">
              {{ queue.name }}
            </a>
          </th>
          <td>
            <a href="{% url 'admin:queues_jobs' queue.index %}">
              {{ queue.jobs }}
            </a>
          </td>
          <td>{{ queue.oldest_job_timestamp }}</td>
          <td>
            <a href="{% url 'admin:queues_started_jobs' queue.index %}">
              {{ queue.started_jobs }}
            </a>
          </td>
          <td>
            <a href="{% url 'admin:queues_deferred_jobs' queue.index %}">
              {{ queue.deferred_jobs }}
            </a>
          </td>
          <td>
            <a href="{% url 'admin:queues_finished_jobs' queue.index %}">
              {{ queue.finished_jobs }}
            </a>
          </td>
          <td>
            <a href="{% url 'admin:queues_failed_jobs' queue.index %}">
              {{ queue.failed_jobs }}
            </a>
          </td>
          <td>
            <a href="{% url 'admin:queues_scheduled_jobs' queue.index %}">
              {{ queue.scheduled_jobs }}
            </a>
          </td>
          <td>
            <a href="{% url 'admin:queues_rq_scheduler_jobs' queue.index %}">
              {{ queue.rq_scheduler_jobs }}
            </a>
          </td>
          <td>
            <a href="{% url 'admin:queues_workers' queue.index %}">
              {{ queue.workers }}
            </a>
          </td>
          <td>{{ queue.connection_kwargs.host }}</td>
          <td>{{ queue.connection_kwargs.port }}</td>
          <td>{{ queue.connection_kwargs.db }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
