{% extends "admin/base.html" %}
{% load pixel9_admin_list django_rq l10n %}

{% block title %}Workers in {{ queue.name }}{% endblock %}
{% block page_title %}Workers in {{ queue.name }}{% endblock %}

{% block breadcrumbs %}
<a href="{% url "admin:queues_home" %}">Queues</a>
<a href="{% url "admin:queues_jobs" queue_index %}">{{ queue.name }} Workers</a>
{% endblock %}

{% block content %}
<form id="changelist-form" action="{% url 'admin:queues_actions' queue_index %}" method="post">
  {% csrf_token %}
  <div class="panel panel-simple">
    <div class="panel-body">
      <div class="actions">
        <label>Actions:
          <select class="form-control" name="action">
            <option value="" selected="selected">---------</option>
            <option value="delete">Delete</option>
            {% if queue.name == 'failed' %}
            <option value="requeue">Requeue</option>
            {% endif %}
          </select>
        </label>
        <button type="submit" class="btn btn-default" title="Execute selected action" name="index" value="0">Go</button>
      </div>
      <table class="table" id="result_list">
        <thead>
          <tr>
            <th scope="col" class="action-checkbox-column">
              <div class="text">
                <span><input type="checkbox" id="action-toggle" style="display: inline-block;"></span>
              </div>
              <div class="clear"></div>
            </th>
            <th>Name</th>
            <th>State</th>
            <th>Birth</th>
            <th>PID</th>
          </tr>
        </thead>
        <tbody>
          {% for worker in workers %}
          <tr>
            <td class="action-checkbox">
              <input class="action-select" name="_selected_action" type="checkbox" value="{{ job.id }}">
            </td>
            <th>
              <a href="{% url 'admin:queues_worker_details' queue_index worker.key %}">
                {{ worker.name }}
              </a>
            </th>
            <td>{{ worker.get_state }}</td>
            <td>{{ worker.birth_date|to_localtime|date:"Y-m-d, H:i:s" }}</td>
            <td>{{ worker.pid|unlocalize }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</form>
<script>
  _actions_icnt = 100;
  $("tr input.action-select").actions();
</script>
{% endblock %}
