{% extends "admin/base_site.html" %}
{% load django_rq %}

{% block title %}Worker Info{% endblock %}

{% block page_title %}WOrker Info{% endblock %}


{% block breadcrumbs %}
<a href="{% url "admin:queues_home" %}">Queues</a>
<a href="{% url "admin:queues_workers" queue_index %}">{{ queue.name }} Workers</a>
{% endblock %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>Key</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Name</th>
          <td>{{ worker.name }}</td>
        </tr>

        <tr>
          <th>State</th>
          <td>{{ worker.get_state }}</td>
        </tr>

        <tr>
          <th>Birth</th>
          <td>{{ worker.birth_date|to_localtime|date:"Y-m-d, H:i:s" }}</td>
        </tr>

        <tr>
          <th>Queues</th>
          <td>{{ queue_names }}</td>
        </tr>

        <tr>
          <th>PID</th>
          <td>{{ worker.pid }}</td>
        </tr>

        {% if job %}
        <tr>
          <td>
            <th>Current Job:</th>
            <td>
              {{ job.func_name }}
              (<a href="{% url "admin:queues_job_detail" queue_index job.id %}">{{ job.id }}</a>)
            </td>
          </td>
        </tr>
        {% endif %}

        {% if worker.successful_job_count != None %}
        <tr>
          <th>Successful job count:</th>
          <td>{{ worker.successful_job_count }}</td>
        </tr>
        {% endif %}

        {% if worker.failed_job_count != None %}
        <tr>
          <th>Failed job count:</th>
          <td>{{ worker.failed_job_count }}</td>
        </tr>
        {% endif %}

        {% if worker.total_working_time != None %}
        <tr>
          <th>Total working time (seconds):</th>
          <td>{{ total_working_time }}</td>
        </tr>
        {% endif %}

      </tbody>
    </table>
  </div>
</div>
{% endblock %}
