{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% if valid_link %}
{{ block.super }}
<form action="" method="POST">
  {% include "forms/form.html" %}
  <fieldset class="buttons-fieldset">
    <input class="btn btn-primary" type="submit" value="{% trans "Envoyer" %}">
  </fieldset>
</form>
{% else %}
<h1>{% trans "Lien invalide" %}</h1>
<p>
{% trans "Vérifiez que l'adresse de cette page est identique au lien contenu dans le message que vous avez reçu." %}
</p>
<p>
<a href="{% url "auth_password_reset" %}">{% trans "Récupération de mot de passe" %}</a>
</p>
{% endif %}
{% endblock %}
