{% extends "base.html" %}
{% load i18n %}

{% block content %}
{{ block.super }}
<form action="" method="POST">
  {% include "forms/form.html" %}
  <fieldset class="buttons-fieldset">
    <input class="btn btn-primary" type="submit" value="{% trans "Envoyer" %}">
  </fieldset>
</form>
{% endblock %}

