{% extends "base.html" %}
{% load i18n %}

{% block content %}
{{ block.super }}
<div class="row">
  <div class="col-sm-8">
    <form action="" method="POST">
      {% if next %}
      <input type="hidden" name="next" value="{{ next }}">
      {% endif %}
      {% include "forms/form.html" %}
      <fieldset class="buttons-fieldset">
        <input class="btn btn-primary" type="submit" value="{% trans "Inscription" %}">
      </fieldset>
    </form>
  </div>
  <div class="col-sm-4">
    <p>
      <a href="{% url "auth_login" %}">{% trans "Connexion" %}</a>
    </p>
  </div>
</div>
{% endblock %}
