{% extends "admin/includes/modal.html" %}

{% block size %}sm{% endblock %}

{% block content %}
<div id="{{ unique_page_id }}-display-choices" class="display-choices">
  <div class="list-group">
  {% for choice in list_display_choices %}
  <div class="list-group-item">
    <div class="checkbox">
      <label>
        <input type="checkbox" name="display-choice-{{ choice.field_name }}" value="{{ choice.field_name }}" {% if choice.active %} checked{% endif %}>
        {{ choice.text|capfirst }}
      </label>
    </div>
  </div>
  {% endfor %}
  </div>
</div>
<div class="clearfix">
  <button type="button" class="btn btn-secondary pull-right" bind="display-choices-submit">
    Appliquer<span class="hidden-xs"> les changements</span>
  </button>
  {% if request.GET.d %}
    <a class="btn btn-outline-default" href="{{ list_display_choices_base_url }}">
      <i class="fa fa-times-circle"></i>
      Réinitialiser<span class="hidden-xs"> les colonnes</span>
    </a>
  {% endif %}
</div>
<script>
  $(function(){

    var listGroup = $('#{{ unique_page_id }}-display-choices .list-group').get(0);
    new Slip(listGroup);

    listGroup.addEventListener('slip:beforeswipe', function(e){
      e.preventDefault();
    }, false);
    listGroup.addEventListener('slip:reorder', function(e){
      e.target.parentNode.insertBefore(e.target, e.detail.insertBefore);
    }, false);

  });
</script>
{% endblock %}

