{% load bootstrap3 pixel9_admin_modify %}
<fieldset class="fieldset-{{ fieldset.name|slugify }} change-form-fieldset panel panel-simple {{ fieldset.classes }}">
  {% if fieldset.name %}
  <div class="panel-heading">
    <h2 class="panel-title fieldset-title">
      {% if "collapsable" in fieldset.classes %}
      <a href="javascript:;" class="collapsed" data-toggle="collapse" data-target="#fieldset-{{ unique_page_id }}-{{ fieldset.name|slugify }}-collapse" data-parent=#page-{{ unique_page_id }}>
        <span class="arrow"></span>
        {{ fieldset.name }}
      </a>
      {% else %}
      {{ fieldset.name }}
      {% endif %}
    </h2>
  </div>
  {% endif %}
  <div id="fieldset-{{ unique_page_id }}-{{ fieldset.name|slugify }}-collapse" class="panel-body{% if "collapsable" in fieldset.classes %} collapse{% endif %}">
    {% if fieldset.description %}
    <div class="fieldset-description">{{ fieldset.description|safe }}</div>
    {% endif %}

    {% for line in fieldset %}
    <div class="field-line {% if line.fields|length == 1 and line.errors %} errors{% endif %}{% if not line.has_visible_field %} hidden{% endif %} field-line{% for field in line %}{% if field.field.name %}-{{ field.field.name }}{% endif %}{% endfor %}">
      {% for field in line %}
      <div class="field{% if field.field.name %} field-{{ field.field.name }}{% endif %}">
        {% if field.is_readonly %}
        <div class="form-group readonly-field">
          {% if field.field.label %}
          {% bootstrap_label field.field.label|capfirst %}
          {% endif %}
          <div class="readonly-field-contents">{% readonly_field_contents field %}</div>
          {% if field.help_text %}
          <div class="help-block">{{ field.help_text }}</div>
          {% endif %}
        </div>
        {% else %}
        {% field field.field model_admin=fieldset.model_admin %}
        {% endif %}
      </div>
      {% endfor %}
    </div>
    {% endfor %}

  </div>
</fieldset>

