{% extends "admin/includes/modal.html" %}
{% load i18n pixel9_admin_list %}

{% block size %}sm{% endblock %}

{% block content %}
<div>
  <div>
    <select form="{{ unique_page_id }}-filters-form" class="form-control filters-select">
      <option value=".spec-empty">--- Sélectionner un filtre ---</option>
      {% for spec in cl.filter_specs %}
      <option value=".spec-{{ spec.title|slugify }}">
      {% blocktrans with filter_title=spec.title|capfirst %}{{ filter_title }} {% endblocktrans %}
      </option>
      {% endfor %}
    </select>
  </div>
  <div class="filter-spec">
    <div class="mb-4">
    {% for spec in cl.filter_specs %}
    {% admin_list_filter cl spec %}
    {% endfor %}
    </div>

    <div class="pull-right">
      {% if has_active_filters %}
      <a class="btn btn-default" href="{{ clear_all_filters_url }}">
        Réinitialiser
      </a>
      {% endif %}
      <button name="" form="{{ unique_page_id }}-filters-form" class="filter-submit btn btn-primary" type="submit">
        <i class="fa fa-filter"></i>
        Filtrer
      </button>
    </div>

  </div>
</div>
{% endblock %}
