{% load i18n %}
{% if choice %}
<div class="filter-tag">
  <div class="filter-tag-content">
    <span class="filter-tag-title">
      {% blocktrans with filter_title=spec.title|capfirst %}{{ filter_title }} {% endblocktrans %}
    </span>
    <span class="filter-tag-value" title="{{ choice.display }}">
      {{ choice.display|truncatechars:25 }}
    </span>
  </div>
  <a bind="xhr" href="{{ clear_url|iriencode }}" class="close">
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"/></svg>
  </a>
</div>
{% endif %}
