{% load i18n pixel9_admin_menu %}

<ul class="sidebar-nav main-sidebar-nav nav nav-pill nav-stacked">
  {% get_menu request as app_list %}
  {% if app_list %}
  {% for app in app_list %}
  {% if app.separator %}
  <li class="separator"></li>
  {% elif not app.models and not app.url %}
  <li class="nav-group">{{ app.label }}</li>
  {% else %}
  <li class="{% if app.models|length > 1 %} dropdown{% endif %}">
  <a{% if app.models|length > 1 %}
    href="javascript:;"
    data-target="dropdown-{{ app.name|slugify }}"
    class="dropdown-toggle"
    data-toggle="dropdown"
    {% else %}
    href="{{ app.url }}"
    {% endif %}
    {% if app.blank %} target="_blank"{% endif %}>
    {% trans app.label|capfirst %}
  </a>
  {% if app.models|length > 1 %}
  <ul class="dropdown-menu" id="dropdown-{{ app.name|slugify }}">
    {% for model in app.models %}
    <li>
      <a href="{{ model.url }}"{{ model.blank|yesno:' target=_blank,' }}>{{ model.label }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
  </li>
  {% endif %}
  {% endfor %}
  {% endif %}
</ul>
