{% if messages %}
{% for message in messages %}
<div class="alert alert-message alert-dismissable alert-{{ message.level_tag }}{% if message.extra_tags %} {{ message.extra_tags }}{% endif %}">
  <div class="alert-content">
    {{ message|capfirst|safe }}
  </div>
  <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
{% endfor %}
{% endif %}

