<div class="modal fade" data-modal-widget-initiated="true" id="{% block id %}{{ modal_id }}{% endblock %}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-{% block size %}{{ modal_size }}{% endblock %}" role="document">
    <div class="modal-content">
      {% block header %}
      <div class="modal-header">
        <h5 class="modal-title">{% block title %}{{ modal_title }}{% endblock %}</h5>
        {# use data-dismiss-modal="#MODAL_ID" instead of standard data-dismiss="modal" otherwise parents modal would close too #}
        <button type="button" class="close" data-dismiss-modal="#{{ modal_id }}" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endblock %}
      <div class="modal-body">
        {% block content %}
        {{ modal_content }}
        {% endblock %}
      </div>
      {% block footer %}
      {% endblock %}
    </div>
  </div>
</div>
