{% load i18n admin_urls %}

{% if show_prev_next and not is_popup %}
<div class="prev-next">
  {% if prev %}
  {% if related.id %}
  {% url opts|admin_urlname:'related_change' object_id=prev related_id=related.id as prev_url %}
  {% else %}
  {% url opts|admin_urlname:'change' prev as prev_url %}
  {% endif %}
  <a bind="xhr" class="save-before material-icons" title="{% trans "précédent(e)" %}" href="{{ prev_url }}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}">arrow_back</a>
  {% else %}
  <a disabled class="material-icons">arrow_back</a>
  {% endif %}
  {% if next %}
  {% if related.id %}
  {% url opts|admin_urlname:'related_change' object_id=next related_id=related.id as next_url %}
  {% else %}
  {% url opts|admin_urlname:'change' next as next_url %}
  {% endif %}
  <a bind="xhr" class="save-before material-icons" title="{% trans "suivant(e)" %}" href="{{ next_url }}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}">arrow_forward</a>
  {% else %}
  <a disabled class="material-icons">arrow_forward</a>
  {% endif %}
</div>
{% endif %}
