{% load i18n static %}

{% if cl.search_fields %}
<div class="changelist-search-input">
  <div class="{% if cl.query %}has-input {% endif %}input-group-inner right-addon">
    {% if clear_search_url %}
    <a bind="xhr" href="{{ clear_search_url }}" class="close">&times</a>
    {% endif %}
    <input form="{{ unique_page_id }}-search-form" class="form-control" type="search" name="{{ search_var }}" value="{{ cl.query }}" id="searchbar" autocomplete="off">
    <button form="{{ unique_page_id }}-search-form" class="btn btn-default input-group-inner-addon" name="" type="submit">
      <i class="far fa-search"></i>
    </button>
  </div>
</div>
{% endif %}
