{% if widget.is_initial %}<p class="file-upload">{{ widget.initial_text }}: <a target="_blank" href="{{ widget.value.url }}">{{ widget.value }}</a>{% if not widget.required %}
<div class="clearable-file-input">
<input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}">
<label for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}</label></div>{% endif %}
{{ widget.input_text }}{% endif %}
<input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>{% if widget.is_initial %}</p>{% endif %}

