<div class="raw-id-field form-control{% if not widget.value %} raw-id-field-empty{% endif %}">
  <input type="hidden" id="id_{{ widget.name }}" data-label-url="{{ label_url }}?object_id={{ widget.value }}" {% for name, value in widget.attrs.items %}{% if value is not False and name != 'id' %} {{ name }}{% if value is not True %}="{{ value|stringformat:'s' }}"{% endif %}{% endif %}{% endfor %} type="hidden" name="{{ widget.name }}"{% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %}/>
  <div class="link-label">{{ link_label }}</div>
  <div class="raw-id-field-icons">
    {% if not widget.required %}
    <a title="Enlever" class="clear fal fa-times{% if not widget.value %} hidden{% endif %}" href="javascript:;"></a>
    {% endif %}
    <a title="Sélectionner" id="lookup_id_{{ widget.name }}" class="related-lookup far fa-search" href="{{ related_url }}"></a>
  </div>
</div>
