{% load i18n static %}
<div class="input-group related-widget-wrapper">
  {{ rendered_widget }}
  {% block links %}
  <span class="input-group-btn">
    {% if can_change_related or change_deleted_related or can_add_related %}
    <div class="dropdown">
      <i class="overflow-btn" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right">
        {% if can_add_related %}
        <li>
          <a class="related-widget-wrapper-link add-related" id="add_id_{{ name }}"
            href="{{ add_related_url }}?{{ url_params }}"
            title="{% blocktrans %}Add another {{ model }}{% endblocktrans %}">
            <span class="far fa-plus"></span>
            {% trans "Ajouter" %}
          </a>
        </li>
        {% endif %}
        {% if can_change_related %}
        <li>
          <a class="related-widget-wrapper-link change-related" id="change_id_{{ name }}"
            data-href-template="{{ change_related_template_url }}?{{ url_params }}"
            title="{% blocktrans %}Change selected {{ model }}{% endblocktrans %}">
            <span class="far fa-pencil-alt"></span>
            {% trans "Éditer" %}
          </a>
        </li>
        {% endif %}
        {% if can_delete_related %}
        <li>
          <a class="related-widget-wrapper-link delete-related" id="delete_id_{{ name }}"
            data-href-template="{{ delete_related_template_url }}?{{ url_params }}"
            title="{% blocktrans %}Delete selected {{ model }}{% endblocktrans %}">
            <span class="far fa-trash-alt"></span>
            {% trans "Supprimer" %}
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
    {% endif %}
  </span>
  {% endblock %}
</div>

