{% load i18n %}
<form action="" method="POST" class="contactus-form">
  {% block form %}
    {% include "forms/form.html" %}
  {% endblock %}
  <fieldset class="buttons-fieldset">
    <input type="submit" value="{% trans "Envoyer" %}">
  </fieldset>
</form>
