{% extends "admin/base.html" %}
{% load i18n static admin_modify %}
{% load admin_urls %}

{% if not is_popup %}
{% block breadcrumbs %}
&lsaquo;
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_label|capfirst|escape }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; {% block breadcrumbs_last %}{% endblock %}
{% endblock %}
{% endif %}
