{% load i18n %}
{% load admin_urls %}

{% if related %}
<a href='{% url opts|admin_urlname:"related_import" related_id=related.id %}' class="import_link">{% trans "Import" %}</a>
{% else %}
<a href='{% url opts|admin_urlname:"import" %}' class="import_link">{% trans "Import" %}</a>
{% endif %}
