{% load i18n %}
{% load admin_urls %}

{% if related %}
<a href="{% url opts|admin_urlname:"related_export" related_id=related.id %}{{cl.get_query_string}}&{{ related.name }}={{ related.id }}" class="export_link">{% trans "Export" %}</a>
{% else %}
<a href="{% url opts|admin_urlname:'export' %}{{cl.get_query_string}}" class="export_link">{% trans "Export" %}</a>
{% endif %}
