{% extends "admin/import_export/base.html" %}
{% load i18n %}
{% load admin_urls %}
{% load import_export_tags %}
{% load bootstrap3 %}

{% block title %}{% trans "Export" %}{% endblock %}

{% block page_title %}{% trans "Export" %}{% endblock %}

{% block breadcrumbs %}
{% if related %}
<a href="{% url opts|admin_urlname:'related_changelist' related_id=related.id %}">{{ opts.verbose_name_plural|capfirst }}</a>
{% else %}
<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
{% endif %}
{% endblock %}

{% block content %}
<main class="main-body">
  <form no-xhr action="" method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col-sm-2">
        {% bootstrap_form form %}
      </div>
    </div>
    <input type="submit" class="btn btn-default" value="{% trans "Submit" %}">
  </form>
</main>
{% endblock %}
