{% extends "admin/import_export/base.html" %}
{% load i18n %}
{% load admin_urls %}
{% load import_export_tags %}
{% load bootstrap3 %}

{% block title %}
{% trans "Import" %}
{% endblock %}

{% block css %}
{{ block.super }}
<style>
.import-preview td {
  max-width:400px;
  white-space: wrap;
}
</style>
{% endblock %}


{% block breadcrumbs %}
{% if related %}
<a href="{% url opts|admin_urlname:'related_changelist' related_id=related.id %}">{{ opts.verbose_name_plural|capfirst }}</a>
{% else %}
<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
{% endif %}
{% endblock %}

{% block page_title %}{% trans "Import" %}{% endblock %}

{% block content %}
<main class="main-body">

  {% if confirm_form %}
  {% if related %}
  {% url opts|admin_urlname:"related_process_import" related_id=related.id as process_import_url%}
  {% else %}
  {% url opts|admin_urlname:"process_import" as process_import_url %}
  {% endif %}
  <form action="{{ process_import_url }}" method="POST">
    {% csrf_token %}

    {% bootstrap_form confirm_form %}
    <p>
      {% trans "Below is a preview of data to be imported. If you are satisfied with the results, click 'Confirm import'" %}
    </p>
    <input type="submit" class="btn btn-primary" name="confirm" value="{% trans "Confirm import" %}">
    <br>
    <br>
  </form>
  {% else %}
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
      <div class="col-sm-6">
        <p>
          {% trans "This importer will import the following fields: " %}
          <br>
          <code>{{ fields|join:", " }}</code>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        {% bootstrap_form form %}
      </div>
    </div>
    <input type="submit" class="btn btn-primary" value="{% trans "Submit" %}">
  </form>
  {% endif %}

  {% if result %}

  {% if result.has_errors %}
  <div class="panel panel-simple">
    <div class="panel-heading">
      <div class="panel-title">
        {% trans "Errors" %}
      </div>
    </div>
    <div class="panel-body">
      <ul>
        {% for error in result.base_errors  %}
        <li>
          {{ error.error }}
          <div class="traceback">{{ error.traceback|linebreaks }}</div>
        </li>
        {% endfor %}
        {% for line, errors in result.row_errors %}
        {% for error in errors %}
        <li>
          {% trans "Line number" %}: {{ line }} - {{ error.error }}
          <div><code>{{ error.row.values|join:", " }}</code></div>
          <div class="traceback">{{ error.traceback|linebreaks }}</div>
        </li>
        {% endfor %}
        {% endfor %}
      </ul>
    </div>
  </div>
  {% else %}

  <div class="panel panel-simple">
    <div class="panel-heading">
      <div class="panel-title">
        {% trans "Preview" %}
      </div>
    </div>
    <div class="panel-body">

      <div class="table-responsive">
        <table class="import-preview table">
          <thead>
            <tr>
              <th></th>
              {% for field in result.diff_headers %}
              <th>{{ field }}</th>
              {% endfor %}
            </tr>
          </thead>
          {% for row in result.rows %}
          <tr>
            <td class="text-nowrap">
              {% if row.import_type == 'new' %}
              {% trans "New" %}
              {% elif row.import_type == 'skip' %}
              {% trans "Skipped" %}
              {% elif row.import_type == 'delete' %}
              {% trans "Delete" %}
              {% elif row.import_type == 'update' %}
              {% trans "Update" %}
              {% endif %}
            </td>
            {% for field in row.diff %}
            <td>
              {{ field }}
            </td>
            {% endfor %}
          </tr>
          {% endfor %}
        </table>
      </div>

    </div>
  </div>
  {% endif %}

  {% endif %}
</main>
{% endblock %}
