{% load i18n %}

<div class="field{% if field.field.required %} field-required{% endif %}{% if field.errors %} has-error field-error{% endif %}">

  {% if field.label %}
  <label for="{{ field.auto_id }}">{{ field.label }}{% if field.field.required %}{{ form.required_field_indicator|safe }}{% else %}{{ form.optional_field_indicator|safe }}{% endif %}</label>
  {% endif %}

  {{ field|safe }}

  {% if field.help_text %}
  {{ field.help_text|safe }}
  {% endif %}

  {{ field.errors }}
</div>
