<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {% if object.title %}<title>{{ object.title }}</title>{% endif %}
    {% block css %}
    <style>
      body {
        width:100% !important; /* Force Hotmail to display emails at full width */
        -webkit-text-size-webkitadjust:none; /* Prevent Webkit platforms from changing default text sizes. */
        padding:0;
        margin:0;
      }
      img {
        display:block; /* moves the padding in Hotmail and still gives you the predicable result in other email clients. */
        border:none !important; 
        outline:none; 
      }
    </style>
    {% endblock %}
  </head>
  <body>
    <table class="body" width="100%" cellspacing="0" cellpadding="0" border="0">
      <tr>
        <td align="center" valign="top">
          <table class="page" cellspacing="0" cellpadding="0" border="0">
            <tr>
              <td>
                {% block page %}{% endblock %}
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>

