{% extends "emails/base.html" %}

{% block css %}
{{ block.super }}
<style>
  .page {
    text-align:left;
    width:540px;
    margin:0;
  }

  body, p, div, li {
    font-size:13px;
    line-height:19px;
    font-family:helvetica,arial,sans-sherif;
    color:#333;

  }
  p, ul, ol {
    margin-top:0;
    margin-left:0;
    margin-right:0;
    margin-bottom:10px;
  }
  a {
    color:#0f4b83;
  }
  h1, h2 {
    font-weight:normal;
    font-size:17px;
    line-height:15px;
    margin-top:0;
    margin-left:0;
    margin-right:0;
    margin-bottom:10px;
    font-family:georgia,sherif;
    color:#191919;
  }
  .logo {
    margin-bottom:10px;
  }
  .section img {
    padding-bottom:10px;
  }
  .section img.left {
    padding-right:10px;
  }
  .section img.right {
    padding-left:10px;
  }
  .footer {
    color:#555;
    padding:0;
    border-top:1px solid #CCCCCC;
  }
  .smaller {
    font-size:11px;
    line-height:15px;
  }
</style>
{% endblock %}

{% block page %}

{% block header_section %}
<table width="100%" cellpadding="10" cellspacing="0" border="0">
  <tr>
    <td width="100%" align="right" valign="top">
      {% block header %}

      {% block logo %}
      <img alt="Logo d'entreprise" src="http://placehold.it/155x46" align="left" width="155" height="46" />
      {% endblock %}

      {% if object.title %}<h1>{{ object.title|default:"Sujet du message" }}</h1>{% endif %}
      {% endblock %}
    </td>
  </tr>
</table>
{% endblock %}

{% block content %}
<table class="section" cellpadding="10" cellspacing="0" border="0">
  <tr>
    <td width="100%">
      {{ email.content }}
    </td>
  </tr>
</table>
{% endblock %}

{% block footer_section %}
<table class="footer" cellpadding="10" cellspacing="10" border="0" width="100%">
  <tr>
    <td align="center">
      {% block footer %}
      <div class="copyright smaller">
        Nom d'entreprise &copy; Tous droits r&eacute;serv&eacute;s.
      </div>
      {% block address %}
      <div class="address smaller">
        Pôle Nord HOH OHO, Canada
      </div>
      {% endblock %}
      {% endblock %}
    </td>
  </tr>
</table>
{% endblock %}

{% endblock %} {# page #}

